<header class="img-bg-header" style="
        background: url({{page.headerImage.fields.file.url}});
        /* max-height: 300px; */
        height: 400px;
        padding-top: 0;
        margin-top: -70px;
        margin-bottom: -1px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center">
    <h1 style="color: white;text-shadow: 2px 2px rgba(93, 93, 93, 0.74);">{{this.titelAbout}}</h1>
</header>

<div class="container top30">
    <div class="row top30">
        <div class="col-sm-5">
            <p class="bo-text">
                {{{md this.teambeschreibung}}}
            </p>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
            {{{contentfulImage this.teamBild "img-responsive" ""}}}
        </div>
    </div>
    {{#each this.sections}}
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-member-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{this.title}}</h1>
        </div>
        <div class="col-xs-12" style="height: 40px">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <p class="bo-text">
                {{{md this.description}}}
            </p>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">
          {{#each this.documents}}
            <a class="bo-opening" target="_blank" href="{{this.fields.dokument.fields.file.url}}"><div> {{this.fields.titel}} <i style="vertical-align: bottom" class="material-icons">download</i></div></a>
          {{/each}}
        </div>
    </div>
    {{/each}}
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-member-divider"/>
        </div>
    </div>
    {{#if this.hasMembers}}
      <div class="col-xs-12">
          <h1>{{this.titelMembers}}</h1>
        </div>
    {{/if}}
    <div class="col-xs-12" style="height: 40px">
    </div>
    <div class="row">
        {{#each this.activeMembers}}
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="bo-member-photo-wrap">
                    <div class="bo-member-photo"
                         style="background-image: url('{{this.profilImage.fields.file.url}}?w=134&h=134')"></div>
                    <div class="bo-member-info-wrap">
                        <div class="bo-member-info-name">{{this.firstname}}</div>
                        <div class="bo-member-info-role">{{this.team}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>


    {{#if this.hasInactiveMembers}}
        <div class="row">
            <h2>Ehemalige Mitglieder</h2>
        </div>
        <div class="row">
            {{#each this.inactiveMembers}}
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="bo-member-photo-wrap">
                        <div class="bo-member-photo"
                             style="background-image: url('{{this.profilImage.fields.file.url}}')">
                        </div>
                        <div class="bo-member-info-wrap">
                            <div class="bo-member-info-name">{{this.firstname}}</div>
                            <div class="bo-member-info-role">{{this.team}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
