<div class="bo-header-info"></div>
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1>{{__ 'CODE_HEADING'}}</h1>
            <hr>
        </div>
    </div>
    <!--Lorem ipsum-->
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="http://www.break-out.org/wordpress/wp-content/themes/arcade-basic-child/images/code_of_honour.svg"
                 alt="Code of Honour">
        </div>
        <div class="col-md-9">
            <p>{{__ 'INTRO'}}</p>
            <h3>{{{__ 'INTRO_HEADING'}}}</h3>
            {{{__ 'GENERAL_COH'}}}
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="http://www.break-out.org/wordpress/wp-content/themes/arcade-basic-child/images/reise_code.svg"
                 alt="Code of Honour">
        </div>
        <div class="col-md-9">
            <h3>{{{__ 'TRAVEL_COH_HEADING'}}}</h3>
            {{{__ 'TRAVEL_COH_TEXT'}}}
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="http://www.break-out.org/wordpress/wp-content/themes/arcade-basic-child/images/spenden_code.svg"
                 alt="Code of Honour">
        </div>
        <div class="col-md-9">
            <h3>{{{__ 'DONATION_COH_HEADING'}}}</h3>
            {{{__ 'DONATION_COH_TEXT'}}}
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="http://www.break-out.org/wordpress/wp-content/themes/arcade-basic-child/images/verhaltens_code.svg"
                 alt="Code of Honour">
        </div>
        <div class="col-md-9">
            <h3>{{{__ 'BEHAVIOUR_COH_HEADING'}}}</h3>
            {{{__ 'BEHAVIOUR_COH_TEXT'}}}
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="col-md-3 hidden-sm hidden-xs">
            <img src="http://www.break-out.org/wordpress/wp-content/themes/arcade-basic-child/images/app_code.svg"
                 alt="Code of Honour">
        </div>
        <div class="col-md-9">
            <h3>{{{__ 'APP_COH_HEADING'}}}</h3>
            {{{__ 'APP_COH_TEXT'}}}
        </div>
    </div>

    <div class="row top30">
        <div class="col-md-12"></div>
    </div>

</div>