<div class="bo-header-info"></div>
<div class="container">

    <!-- Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1>{{__ 'IMPRINT_HEADING'}}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{__ 'INFORMATION_TMG_HEADING'}}</h3>
            {{{__ 'ADDRESS'}}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{__ 'CONTACT_HEADING'}}</h3>
            {{{__ 'CONTACT'}}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{__ 'RSTV_HEADING'}}</h3>
            {{{__ 'ADDRESS'}}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>{{__ 'DISCLAIMER_HEADING'}}</h3>
            {{{__ 'DISCLAIMER_TEXT'}}}
        </div>
    </div>

</div>