<div class="bo-header-info"></div>
<div class="container">
    <!-- Heading -->
    <div class="row">
        <div class="col-md-12">
            <h1>{{__ 'PARTNER_HEADING'}}</h1>
            <hr>
        </div>
    </div>

    <!-- Partners | Supporters | Friends -->
    <div class="row">

        <!-- PARTNER -->
        <div class="col-md-4">
            <h3>{{{__ 'PARTNER_TITLE'}}}</h3><!-- TODO: Change to h2 and change style-->
            <a href="https://www.think-big.org/"><img class="img-responsive bo-supporter-img center-block"
                                                      src="http://www.break-out.org/wordpress/wp-content/uploads/2014/05/Logo-Think-Big.png"></a>
            <br/><br/>
            <p>{{{__ 'THINKBIG_DESCRIPTION'}}}</p>
        </div>

        <!-- Supporter -->
        <div class="col-md-4">
            <h3>{{__ 'SUPPORTER_TITLE'}}</h3>
            <a href="http://bus-bar.de/">
                <img class="img-responsive bo-supporter-img center-block"
                     src="http://www.break-out.org/wordpress/wp-content/uploads/2014/05/2.2.png">
            </a>
            <a href="http://www.biener-buerobedarf.de/storefront/home.html">
                <img class="img-responsive bo-supporter-img center-block"
                     src="http://www.break-out.org/wordpress/wp-content/uploads/2016/05/Doppellogo_Biener1.jpg">
            </a>
            <a href="http://www.089-bar.de/">
                <img class="img-responsive bo-supporter-img center-block"
                     src="http://www.break-out.org/wordpress/wp-content/uploads/2016/05/Druck.jpg">
            </a>
            <a href="https://www.globetrotter.de/"
            ><img class="img-responsive bo-supporter-img center-block"
                  src="http://www.break-out.org/wordpress/wp-content/uploads/2016/05/GLOBETROTTER_LOGO_GT-ROT_195_90_88.jpg">
            </a>
            <a href="http://www.volcom.de/?SID=an22ouofavtbqlnd4aehr5nv30&___store=volcom_de">
                <img class="img-responsive bo-supporter-img center-block"
                     src="http://www.break-out.org/wordpress/wp-content/uploads/2016/06/volcom.jpg">
            </a>
            <a href="http://theburgerhouse.com/burgerhouse/de/">
                <img class="img-responsive bo-supporter-img center-block"
                     src="http://www.break-out.org/wordpress/wp-content/uploads/2016/06/th.jpeg">
            </a>
        </div>

        <!-- Friends -->
        <div class="col-md-4">
            <h3>{{__ 'FRIENDS_TITLE'}}</h3>
            <a href="http://mesa.esn-germany.de/de"><img class="img-responsive bo-supporter-img center-block"
                                                         src="http://break-out.org/wordpress/wp-content/uploads/2014/05/mesa.png"></a>
            <a href="http://www.munichx.de/"><img class="img-responsive bo-supporter-img center-block"
                                                  src="http://www.munichx.de/banner/munichx_160x38.gif"></a>
        </div>
    </div>

    <!-- Support us -->
    <div class="row"></div>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <p>{{{__ 'SUPPORT_1'}}}</p>
            <p>{{{__ 'SUPPORT_2'}}}</p>

            <div class="row">
                <div class="col-md-6">
                    <h3>{{__ 'FINANCIAL_SUPPORT_HEADER'}}</h3>
                    <p>{{{__ 'FINANCIAL_SUPPORT'}}}</p>
                </div>

                <div class="col-md-6">
                    <h3>{{__ 'PRODUCT_SPONSORING_HEADER'}}</h3>
                    <p>{{{__ 'PRODUCT_SPONSORING_1'}}}</p>
                    <p>{{{__ 'PRODUCT_SPONSORING_2'}}}</p>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <img class="img-responsive bo-supporter-img img-circle center-block"
                 src="img/static/domenic.png">
            <p>{{{__ 'CONTACT'}}}</p>
        </div>
    </div>
</div>