<div class="bo-header-info"></div>
<div class="container">
    <!-- Heading -->

    <div class="row">
        <div class="col-md-12">
            <h1>{{this.page.title}}</h1>
        </div>
    </div>

    <hr>

    {{#if this.hasSponsors}}
        <h2>{{this.page.headlineSponsors}}</h2>
        {{#each this.sponsors}}

            <div class="row top30">
                <br>
                <a href="{{this.website}}">
                    <img src="{{this.logo.fields.file.url}}"
                         class="center-block img-responsive img-rounded"
                         style="vertical-align: bottom; max-height: 300px;">
                </a>
                <div class="row" style="text-align: center">
                    <h3>{{this.name}}</h3>
                    <p>{{this.description}}</p>
                </div>
            </div>
        {{/each}}
        <hr>
    {{/if}}


    <!-- Partners | Supporters | Friends -->

    {{#if this.hasSupporters}}
        <h2>{{this.page.headlineSupporters}}</h2>

        <div class="row">
            {{#each this.supporters}}
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="bo-supporter-panel-image"
                             style="background-image: url('{{this.logo.fields.file.url}}')"></div>
                        <div class="panel-footer text-center">
                            <a href="{{this.website}}">{{this.name}}</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
        <hr>
    {{/if}}

    <!-- Support us -->
    <div class="row top30">
        <div class="col-md-8">
            <h2>{{this.page.headlineBecomeSupporter}}</h2>
            {{{md this.page.description}}}

            <div class="row top30">
                <div class="col-md-6">{{{ md this.page.financialSponsoring}}}</div>
                <div class="col-md-6">{{{ md this.page.productSponsoring }}}</div>
            </div>

        </div>

        <div class="col-md-4">
            <img class="img-responsive bo-supporter-img img-circle center-block"
                 src="img/static/domenic.jpg">
            <p>{{{md this.page.contact}}}</p>
        </div>
    </div>
</div>