<header class="img-bg-header" style="
        background: url({{page.headerImage.fields.file.url}});
        /* max-height: 300px; */
        height: 400px;
        padding-top: 0;
        margin-top: -70px;
        margin-bottom: -1px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center">
    <h1 style="color: white;text-shadow: 2px 2px rgba(93, 93, 93, 0.74);">{{page.title}}</h1>
</header>

<div class="container top30">
    {{#if this.hasSponsors}}
        <h2>{{this.page.headlineSponsors}}</h2>
        <hr>
        {{#each this.sponsors}}

            <div class="row top30">
                <br>
                <a href="{{this.website}}">
                    <img src="{{this.logo.fields.file.url}}"
                         class="center-block img-responsive img-rounded"
                         style="vertical-align: bottom; max-height: 300px;">
                </a>
                <div class="row" style="text-align: center">
                    <h3>{{this.name}}</h3>
                    <p>{{this.description}}</p>
                </div>
            </div>
        {{/each}}
        <hr>
    {{/if}}


    <!-- Partners | Supporters | Friends -->

    {{#if this.hasSupporters}}
        <h2>{{this.page.headlineSupporters}}</h2>

        <div class="row">
            {{#each this.supporters}}
                <div class="col-sm-4">
                    <a href="{{this.website}}"
                       class="bo-supporter-panel-image"
                       style="background-image: url('{{this.logo.fields.file.url}}')">
                    </a>
                </div>
            {{/each}}
        </div>
        <hr>
    {{/if}}

    <!-- Support us -->
    <div class="row top30">
        <div class="col-md-8">
            <h2>{{this.page.headlineBecomeSupporter}}</h2>
            {{{md this.page.description}}}

            <div class="row top30">
                <div class="col-md-6">{{{ md this.page.financialSponsoring}}}</div>
                <div class="col-md-6">{{{ md this.page.productSponsoring }}}</div>
            </div>

        </div>

        <div class="col-md-4">
            <img class="img-responsive bo-supporter-img img-circle center-block"
                 src="{{this.page.contactImage.fields.file.url}}">
            <p>{{{md this.page.contact}}}</p>
        </div>
    </div>
</div>