<header class="img-bg-header" style="
        background: url({{pressPage.headerImage.fields.file.url}});
        height: 400px;
        padding-top: 0;
        margin-top: -70px;
        margin-bottom: -1px;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center">
    <h1 style="color: white;text-shadow: 2px 2px rgba(93, 93, 93, 0.74);">{{pressPage.pageTitle}}</h1>
</header>
<div class="container top30">
    <div class="row top30">
        <!-- Testimonials end up here -->
        <div class="col-md-8">
            {{#each testimonials}}
                <div class="row">
                    <div class="col-md-12">
                        <a class="bo-press-testimonial-text" href="{{this.link}}">&quot;{{this.headline}}&quot;</a><br/>
                        <span class="bo-press-testimonial-from">&mdash; {{this.from}}, {{this.date}}</span>
                        <hr>
                    </div>
                </div>
            {{/each}}
        </div>

        <!-- Sidebar -->
        <div class="col-md-4">

            <!--Press material-->
            <!--TODO: Chance link!!-->
            <img src="img/static/pressemitteilungen.svg"
                 class="img-circle img-responsive bo-press-material-img">
            <div class="row">
                <div class="col-md-10">
                    <!-- TODO: i18n!! -->
                    <h2>{{pressPage.pressMaterialTitler}}</h2>
                </div>
            </div>

            {{#each pressMaterials}}
                <div class="row bo-press-material">
                    <div class="col-md-12">
                        <a href="{{this.link}}">{{this.text}}</a>
                    </div>
                </div>
            {{/each}}

            <!-- pressReviews-->
            <!--TODO: Chance link!!-->
            <img src="img/static/pressepaket.svg"
                 class="img-circle img-responsive bo-press-material-img">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{pressPage.pressReviewsTitle}}</h2>
                </div>
            </div>

            {{#each pressReviews}}
                <div class="row bo-press-material">
                    <div class="col-md-12">
                        <a href="{{this.link}}">{{this.text}}</a>
                    </div>
                </div>
            {{/each}}
            <br /><!-- TODO: Remove me! -->
            <!--press spokeswoman-->
            <div class="row">
                <div class="col-md-12">
                    <!--TODO: i18n-->
                    <h2>{{pressPage.contactTitle}}</h2>
                    <p>
                        {{{md pressPage.contactInfo}}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
