<div class="container">
    <div class="col-md-4 registration-box-border div-align-mid">
        <form id="loginForm" action="/login" method="post">
            <div class="row registration-margin">
                <div class="col-xs-10 div-align-mid">
                    <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12">
                    <h2 class="text-center">{{__ 'HEADLINE'}}</h2>
                </div>
            </div>

            <div id="error">
                {{#if error}}
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="alert alert-danger">{{error}}</div>
                        </div>
                    </div>
                {{/if}}
            </div>

            {{#if success}}
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-success">{{success}}</div>
                    </div>
                </div>
            {{/if}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="email">{{__ 'LABEL_EMAIL'}}</label>
                        <input type="email" class="form-control" id="username" name="username"
                               placeholder="{{__ 'PLACEHOLDER_EMAIL'}}" required="required">
                        <i class="form-control-feedback material-icons">mail_outline</i>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="loginPassword">{{__ 'LABEL_PASSWORD'}}</label>
                        <input type="password" class="form-control" name="password"
                               placeholder="{{__ 'LABEL_PASSWORD'}}" required="required">
                        <i class="form-control-feedback material-icons">lock_outline</i>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center bo-forgot-pw-text">
                        <a href="#" class="bo-link-light-gray" id="forgotPW">{{__ 'FORGOT_PW'}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="mainCTA">{{__ 'MAIN_CTA'}}</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <a href="/register" class="no-underline">
                            <button type="button" class="btn btn-default btn-block">{{__ 'SECONDARY_CTA'}}</button>
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>