<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4 registration-box-border">
        <form id="loginForm" action="/login" method="post">
            <div class="row registration-margin text-center">
                <div class="col-xs-10">
                    <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12">
                    <h2 class="text-center">{{__ 'HEADLINE'}}</h2>
                </div>
            </div>
            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="email">{{__ 'LABEL_EMAIL'}}</label>
                        <input type="email" class="form-control" id="username" name="username"
                               placeholder="{{__ 'PLACEHOLDER_EMAIL'}}" required="required">
                        <i class="form-control-feedback material-icons">mail_outline</i>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="loginPassword">{{__ 'LABEL_PASSWORD'}}</label>
                        <input type="password" class="form-control" name="password" placeholder="{{__ 'LABEL_PASSWORD'}}" required="required">
                        <i class="form-control-feedback material-icons">lock_outline</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">EINLOGGEN</button>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <a href="/register"><button type="button" class="btn btn-default btn-block">KOSTENLOS REGISTRIEREN</button></a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>