<div class="container">
    <div class="col-md-4 registration-box-border div-align-mid">
        <form id="registerForm" action="/register" method="post">
            <div class="row registration-margin">
                <div class="col-xs-10 div-align-mid">
                    <img class="bo-modal-logo center" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
                </div>
            </div>
            <div class="row registration-margin">
                <div class="col-xs-12">
                    {{#if invite}}
                        <h2 class="text-center">{{__ 'HEADLINE_INVITED'}}</h2>
                    {{else}}
                        <h2 class="text-center">{{__ 'HEADLINE'}}</h2>
                    {{/if}}
                </div>
            </div>
            <div id="error">
                {{#if error}}
                    <div class="alert alert-danger">{{error}}</div>
                {{/if}}
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>{{__ 'NOTICE'}}</p>
                </div>
            </div>


            {{#if invite}}
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{__ 'INVITE_TEXT_1'}}{{invite.creator}}{{__ 'INVITE_TEXT_2'}}{{invite.team}}{{__ 'INVITE_TEXT_3'}}</p>
                    </div>
                </div>
            {{/if}}

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="email">{{__ 'LABEL_EMAIL'}}</label>
                        {{#if invite}}
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="{{__ 'PLACEHOLDER_EMAIL'}}" required="required" value="{{invite.email}}"
                                   disabled="disabled">
                        {{else}}
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="{{__ 'PLACEHOLDER_EMAIL'}}" required="required">
                        {{/if}}
                        <i class="form-control-feedback material-icons">mail_outline</i>

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="loginPassword">{{__ 'LABEL_PASSWORD'}}</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="{{__ 'LABEL_PASSWORD'}}" required="required">
                        <i class="form-control-feedback material-icons">lock_outline</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group has-feedback has-feedback-left">
                        <label for="loginPassword">{{__ 'LABEL_PASSWORD_REPEAT'}}</label>
                        <input type="password" class="form-control" name="password_repeat" id="password_repeat"
                               placeholder="{{__ 'LABEL_PASSWORD_REPEAT'}}" required="required">
                        <i class="form-control-feedback material-icons">lock_outline</i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block" id="mainCTA">{{__ 'MAIN_CTA'}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <a href="/login" class="no-underline btn btn-default btn-block bo-reg-default-btn" role="button">
                            {{__ 'SECONDARY_CTA'}}
                        </a>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>