<div class="container">
    <div class="col-md-6 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <h2 class="text-center">{{__ 'HEADLINE'}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {{#unless emailConfirmed }}
                    <p>{{__ 'DESCRIPTION_1'}}</p>
                {{/unless}}

                {{#if status.is.participant}}
                    <p>{{{__ 'DESCRIPTION_PARTICIPANT'}}}</p>
                {{/if}}

                {{#if status.is.user}}
                    <p>{{{__ 'DESCRIPTION_OBSERVER'}}}</p>
                    <p>{{__ 'DESCRIPTION_3'}}</p>
                {{/if}}
            </div>
        </div>

        {{#if status.is.user}}
            <div class="row">
                <div class="col-xs-12">
                    <a href="/participant" class="no-underline">
                        <div class="bo-reg-well-selection bo-reg-well-selection-hover">
                            <h4><strong>{{__ 'PARTICIPANT_H'}}</strong></h4>
                            <p>{{__ 'PARTICIPANT'}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h5><a href="/spectator-success">{{__ 'OBSERVER'}}</a></h5>
                </div>
            </div>
        {{/if}}
        <!--
        <div class="row">
            <div class="col-xs-12">
                <a href="/sponsor" class="no-underline">
                    <div class="bo-reg-well-selection bo-reg-well-selection-hover">
                        <h4>{{__ 'SPONSOR_H'}}</h4>
                        <p>{{__ 'SPONSOR'}}</p>
                    </div>
                </a>
            </div>
        </div>
        -->
    </div>
</div>
