<div class="container">
    <div class="col-md-6 registration-box-border div-align-mid">
        <form id="sponsorForm">
            <div class="row registration-margin">

                <div class="col-md-6">
                    <h3 style="text-align: center">{{__ 'BECOME_SPONSOR.HEADLINE'}}</h3>
                </div>

                <div class="col-md-6">

                    <div class="bo-reg-uploadInputWrapper" style="height: 100px; width: 100px;">
                        <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file"
                               name="profilePic"
                               id="profilePic"/>
                        <i class="material-icons registration-picture-icon">camera_alt</i>
                    </div>

                </div>
            </div>

            <div class="registration-margin">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="feedback"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-push-6">
                        <label>{{__ 'BECOME_SPONSOR.GENDER'}}</label>
                        <div class="text-center">
                            <div class="btn-group">
                                <button class="btn btn-default bo-reg-buttons" name="gender"
                                        value="male"
                                        id="male" type="button">{{__ 'BECOME_SPONSOR.MALE'}}
                                </button>
                                <button class="btn btn-default bo-reg-buttons" name="gender"
                                        value="female"
                                        id="female" type="button">{{__ 'BECOME_SPONSOR.FEMALE'}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="firstname">
                                    {{__ 'BECOME_SPONSOR.FIRSTNAME_LABEL'}}
                                </label>
                                <input type="text" class="form-control" name="firstname"
                                       id="firstname"
                                       placeholder="{{__ 'BECOME_SPONSOR.FIRSTNAME_PLACEHOLDER'}}"
                                       required="required">
                                <i class="form-control-feedback material-icons">perm_identity</i>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="lastname">{{__ 'BECOME_SPONSOR.LASTNAME_LABEL'}}</label>
                            <input type="text" class="form-control" id="lastname" name="lastname"
                                   placeholder="{{__ 'BECOME_SPONSOR.LASTNAME_PLACEHOLDER'}}"
                                   required="required">
                            <i class="form-control-feedback material-icons">perm_identity</i>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="company">
                                {{__ 'BECOME_SPONSOR.OPTIONAL_COMPANY_LABEL'}}</label>
                            <input type="text" class="form-control" id="company" name="company"
                                   placeholder="{{__
                                           'BECOME_SPONSOR.OPTIONAL_COMPANY_PLACEHOLDER'}}">
                            <i class="form-control-feedback material-icons">business</i>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="company">Company URL (optional)</label>
                            <input type="text" class="form-control" id="company" name="company"
                                   placeholder="www.company.com">
                            <i class="form-control-feedback material-icons">link</i>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="street">{{__ 'BECOME_SPONSOR.STREET_LABEL'}}</label>
                            <input type="text" class="form-control" id="street" name="street"
                                   placeholder="{{__ 'BECOME_SPONSOR.STREET_PLACEHOLDER'}}"
                                   required="required">
                            <i class="form-control-feedback material-icons">person_pin_circle</i>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{__ 'BECOME_SPONSOR.HOUSENUMBER_LABEL'}}</label>
                            <input type="text" class="form-control" id="housenumber"
                                   name="housenumber"
                                   placeholder="{{__ 'BECOME_SPONSOR.HOUSENUMBER_PLACEHOLDER'}}"
                                   required="required">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="city">{{__ 'BECOME_SPONSOR.CITY_LABEL'}}</label>
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="{{__ 'BECOME_SPONSOR.CITY_PLACEHOLDER'}}"
                                   required="required">
                            <i class="form-control-feedback material-icons">person_pin_circle
                            </i>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="zipcode">{{__ 'BECOME_SPONSOR.PLZ_LABEL'}}</label>
                            <input type="text" class="form-control" id="zipcode" name="zipcode"
                                   placeholder="{{__ 'BECOME_SPONSOR.PLZ_PLACEHOLDER'}}"
                                   required="required">
                            <i class="form-control-feedback material-icons">person_pin_circle
                            </i>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="country">{{__ 'BECOME_SPONSOR.COUNTRY_LABEL'}}</label>
                            <input type="text" class="form-control" id="country" name="country"
                                   placeholder="{{__ 'BECOME_SPONSOR.COUNTRY_PLACEHOLDER'}}"
                                   required="required">
                            <i class="form-control-feedback material-icons">person_pin_circle</i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 registration-margin">
                    <input type="checkbox" id="terms_accepted" required="required"
                           class="bo-reg-checkbox"/>
                    <label for="terms_accepted" class="bo-reg-label">
                        {{{__ 'BECOME_SPONSOR.ACCEPT_SPONSOR_TOS'}}}
                    </label>
                </div>
                <div class="registration-margin">
                    <button type="submit" id="mainCTA" class="btn btn-primary btn-block">
                        {{__ 'BECOME_SPONSOR.BUTTON_NEXT'}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
