<div class="container">
    <div class="col-md-4 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-sm-10 div-align-mid">
                <img class="bo-modal-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <h4>{{__ 'HEADLINE'}}</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12" id="feedback">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p>{{__ 'DESCRIPTION_1'}}
                    <strong>{{amountInvites}}</strong>
                    {{__ 'DESCRIPTION_2'}}</p>

            </div>
        </div>
        <div class="row registration-margin" id="team-invite">
            <div class="col-xs-12 text-center">
                {{#each teams}}
                    <button class="btn btn-default btn-block joinLinkTeam" data-team="{{team}}"
                            data-event="{{event}}">{{name}} ({{city}})
                    </button>
                {{/each}}
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12 text-center">
                <button type="button" class="btn btn-primary btn-block" id="mainCTA">{{__ 'CTA'}}</button>
            </div>
        </div>
    </div>
</div>
