<div class="row">
    <div class="col-xs-12">
        <input type="search" class="form-control" placeholder="Suche...">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Team ID</th>
                <th>Stadt</th>
                <th>Mitglieder</th>
                <th>Betrag Offen</th>
                <th>Zahlungslinks</th>
            </tr>
            </thead>
            <tbody>
            {{#each this}}
                <tr>
                    <td>{{team}}</td>
                    <td>{{event}}</td>
                    <td>
                        {{#each members}}
                            {{firstname}} {{lastname}}{{#if @first}}<br/>{{/if}}
                        {{/each}}
                    </td>
                    <td>{{open}} €</td>
                    {{#if open}}
                        <td>
                            <button class="btn btn-primary btn-payment" data-team="{{team}}" data-invoice="{{id}}"
                                    data-amount="30">ADD 30€
                            </button>
                            <button class="btn btn-primary btn-payment" data-team="{{team}}" data-invoice="{{id}}"
                                    data-amount="60">ADD 60€
                            </button>
                        </td>
                    {{else}}
                        <td>
                            <span style="color: green;">ZAHLUNG ABGESCHLOSSEN</span>
                        </td>
                    {{/if}}
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>