<div class="well">
    <form method="get" class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="eventId" name="eventId"
                   placeholder="eventId">
            <button class="btn btn-primary" type="submit">Jetzt suchen</button>
        </div>
    </form>
    <span>
        <br>
        3 = München 17<br>
        4 = Berlin 17<br>
        5 = Barcelona 17<br>
    </span>
</div>

<div class="row">
    <div class="col-xs-12">
        <input type="search" class="form-control" placeholder="Suche...">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Invoice ID</th>
                <th>Sponsor</th>
                <th>Betrag</th>
                <th>Bezahlt</th>
                <th>Betrag eintragen</th>
            </tr>
            </thead>
            <tbody id="list">
            {{#each this}}
                <tr>
                    <td>{{id}}</td>
                    <td>
                        {{sponsor.firstname}} {{sponsor.lastname}} {{#if sponsor.company}} - Firma: {{sponsor.company}}{{/if}}<br>
                        {{#if sponsor.email}}
                            <a href="/admin/emails?emailAddress={{sponsor.email}}" target="_blank">{{sponsor.email}}</a><br>
                            {{else}}
                            Keine Email angegeben. Emails sind an Teammitglieder versendet worden<br>
                        {{/if}}

                        {{purposeOfTransfer}}<br>
                        <a href="javascript:void(0)" data-toggle="collapse" data-target="#invoice-address-{{id}}">mehr...</a><br>
                        <span id="invoice-address-{{id}}" class="collapse">
                            {{sponsor.address.street}} {{sponsor.address.housenumber}}<br>
                            {{sponsor.address.zipcode}} {{sponsor.address.city}} <br>
                            {{sponsor.address.country}}<br>
                            {{sponsor.url}}
                        </span>
                    </td>
                    <td>{{amount}}</td>
                    <td>{{payed}}</td>
                    <td>
                        <form class="btn-sponsor-payment" data-invoice="{{id}}">
                            <input type="number"
                                   step="any"
                                   class="form-control"
                                   placeholder="Amount"
                                   name="add-to-invoice-amount">
                            <input type="number"
                                   class="form-control"
                                   placeholder="Fidor-ID"
                                   name="add-to-invoice-fidorid">
                            <button type="submit" class="btn btn-primary">Eintragen</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>