<div class="row">
    <div class="col-xs-12">
        <input type="search" class="form-control" placeholder="Suche...">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Team ID</th>
                <th>Amount</th>
                <th>Sponsor</th>
                <th>Mitglieder</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody id="list">
            <tr>
                <form id="newSponsoring">
                    <td><input class="form-control" type="number" id="teamId" placeholder="TeamNr" required="required"/></td>
                    <td><input class="form-control" type="text" id="company" placeholder="Firma" /></td>
                    <td><input class="form-control" type="text" id="firstname" placeholder="Vorname" required="required" />
                    <input class="form-control" type="text" id="lastname" placeholder="Nachname" required="required" /></td>
                    <td><input class="form-control" type="number" id="amount" placeholder="€" required="required" /></td>
                    <td><button class="btn btn-primary" type="submit">ADD</button></td>
                </form>
            </tr>
            {{#each this}}
                <tr>
                    <td>{{teamId}}</td>
                    <td>{{amount}} €</td>
                    <td>
                        {{#if firstname}}
                            {{#if company}}
                                {{company}} -
                            {{/if}}
                            {{firstname}}
                            {{lastname}}
                        {{else}}
                            {{#if sponsorings}}
                                {{#if sponsorings.0.unregisteredSponsor}}
                                    {{#if sponsorings.0.unregisteredSponsor.company}}
                                        {{sponsorings.0.unregisteredSponsor.company}} -
                                    {{/if}}
                                    {{sponsorings.0.unregisteredSponsor.firstname}}
                                    {{sponsorings.0.unregisteredSponsor.lastname}}
                                {{else}}
                                    {{#if sponsorings.0.company}}
                                        {{sponsorings.0.company}} -
                                    {{/if}}
                                    {{sponsorings.0.firstname}}
                                    {{sponsorings.0.lastname}}
                                {{/if}}
                            {{else}}
                                {{#if challenges.0.unregisteredSponsor}}
                                    {{#if challenges.0.unregisteredSponsor.company}}
                                        {{challenges.0.unregisteredSponsor.company}} -
                                    {{/if}}
                                    {{challenges.0.unregisteredSponsor.firstname}}
                                    {{challenges.0.unregisteredSponsor.lastname}}
                                {{else}}
                                    {{#if challenges.0.company}}
                                        {{challenges.0.company}} -
                                    {{/if}}
                                    {{challenges.0.firstname}}
                                    {{challenges.0.lastname}}
                                {{/if}}
                            {{/if}}
                        {{/if}}

                        {{#each members}}
                            {{firstname}} {{lastname}} ({{gender}} - {{participant.tshirtSize}}){{#if @first}}
                            <br/>{{/if}}
                        {{/each}}
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control" name="amount" id="amount-{{id}}"
                                   value="{{amount}}"/>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-addamount" data-invoice="{{id}}">EINTRAGEN</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>