<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<meta name="theme-color" content="#d97908">

<!-- open graph meta properties-->
<meta property="og:type" content="website"/>
<meta property="og:title" content="BreakOut - How far can you go?"/>
<meta property="og:url" content="https://break-out.org"/>
<meta property="og:image" content="https://break-out.org/img/logo.svg" />


<title>{{title}} - BreakOut</title>

<link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'
      rel='stylesheet' type='text/css'>
<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Bootstrap core CSS -->
<link href="/css/styles.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" title="BreakOut &raquo; Feed"
      href="http://break-out.org/feed/"/>

<link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16"/>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KH8FMS"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<script>

    window.boClientConfig = {{{clientConfig}}};
    window.boUserData = {{{stringify isLoggedIn}}};

</script>
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start': new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KH8FMS');</script>

<script>

    window.boUserLang = '{{language}}';
    window.getBoUserLang = function () {
        return window.boUserLang || 'en';
    }
</script>

<!-- End Google Tag Manager -->
{{#each requirements}}
    <script type="text/javascript" src="/js/{{this}}.js"></script>
{{/each}}

<script type="text/javascript" src="/js/reactTest.js" defer></script>

<script type="text/javascript" src="/js/bundle.js" defer></script>