<span id="react-root"></span>
<nav class="navbar navbar-inverse navbar-fixed-top bo-header">
    <div class="container">

        <!-- BreakOut Logo at the mostleft part of the navbar (does not collapse) -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="bo-nav-logo" alt="BreakOut" src="/img/logos/breakout-logo-quer.svg">
            </a>
        </div>

        <!-- All other navbar elements (collapse on smaller sizes) -->
        <div id="navbar" class="collapse navbar-collapse">

            <!-- user logged in on large screens at the most right part of the navbar -->
            <ul class="nav navbar-nav navbar-right bo-user-icons visible-lg">
                <li>
                    <a href="https://www.facebook.com/breakoutmuenchen/" target="_blank">
                        <div style="height: 100%">
                            <img id="social-icon-fb" src="/img/logos/FB-f-Logo__white_144.png"/>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/breakout_challenge/" target="_blank">
                        <div style="height: 100%">
                            <img id="social-icon-insta" src="/img/logos/insta-logo.png"/>
                        </div>
                    </a>
                </li>
                {{#if isLoggedIn}}
                    <li class="dropdown visible-lg">
                        <a id="userDropDown" class="dropdown-toggle" data-toggle="dropdown"
                           href="#">
                            {{#if isLoggedIn.me.profilePic.sizes.0.url}}
                                <div style="background-image: url({{isLoggedIn.me.profilePic.sizes.0.url}}); height: 30px; width: 30px;"
                                     class="bo-profile-image pull-left"
                                     id="navbar-profile-pic"></div>
                                <i class="material-icons">expand_more</i>
                            {{else}}
                                <div style="background-image: url('/img/placeholder_profile_pic.jpg'); height: 30px; width: 30px;"
                                     class="bo-profile-image pull-left"
                                     id="navbar-profile-pic"></div>
                                <i class="material-icons">expand_more</i>
                            {{/if}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="userDropDown">

                            {{#if isLoggedIn.me.participant.teamId}}
                                <li><a href="/team/{{isLoggedIn.me.participant.teamId}}">{{__
                                        'MASTER.MY_TEAM_PROFILE'}}</a></li>
                            {{/if}}
                            <li><a href="/settings/profile">{{__ 'MASTER.ACCOUNT_SETTINGS'}}</a>
                            </li>
                            <li><a href="/settings/sponsoring">{{__ 'MASTER.SPONSORINGS'}}</a>
                            </li>
                            <li><a href="/messages">{{__ 'MASTER.MESSAGES'}}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/select-role">{{__ 'MASTER.BACK_TO_REGISTER'}}</a></li>
                            <li><a href="/logout">{{__ 'MASTER.LOGOUT'}}</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li>
                        <a id="bo-login-btn" role="button"
                           class="btn navbar-btn text-uppercase bo-navbar-btn" href="/login">{{__
                                'MASTER.LOGIN_OR_REGISTER'}}</a>
                    </li>
                {{/if}}
            </ul>

            <!-- Navbar elements-->
            <ul class="nav navbar-nav text-uppercase">

                <!-- User logged in elements in dropdown visible only on screens < lg -->
                {{#if isLoggedIn}}
                    <li class="dropdown hidden-lg">
                        <a id="userDropDown" class="dropdown-toggle" data-toggle="dropdown"
                           href="#">
                            {{__ 'MASTER.MY_ACCOUNT'}}
                            <span class="caret"></span></a>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right"
                            aria-labelledby="userDropDown">

                            {{#if isLoggedIn.me.participant.teamId}}
                                <li><a href="/team/{{isLoggedIn.me.participant.teamId}}">{{__
                                        'MASTER.MY_TEAM_PROFILE'}}</a></li>
                            {{/if}}
                            <li><a href="/settings/profile">{{__ 'MASTER.ACCOUNT_SETTINGS'}}</a>
                            </li>
                            <li><a href="/settings/sponsoring">{{__ 'MASTER.SPONSORINGS'}}</a></li>
                            <li><a href="/messages">{{__ 'MASTER.MESSAGES'}}</a></li>
                            <li><a href="/select-role">{{__ 'MASTER.BACK_TO_REGISTER'}}</a></li>
                            <li><a href="/logout">{{__ 'MASTER.LOGOUT'}}</a></li>
                        </ul>
                    </li>
                {{else}}
                    <li class="hidden-lg">
                        <a role="button" id='bo-btn-login-sm'
                           class="btn navbar-btn text-uppercase bo-navbar-btn"
                           href="/login">
                            {{__ 'MASTER.LOGIN_OR_REGISTER'}}
                        </a>
                    </li>
                {{/if}}

                <!-- List of navbar entries -->
                <li><a class="bo-nav-link" href="{{__ 'MASTER.LIVE_BLOG_LINK'}}">{{__
                        'MASTER.LIVE_BLOG'}}</a></li>
                <li><a class="bo-nav-link" href="{{__ 'MASTER.TEAMS_LINK'}}">{{__
                        'MASTER.TEAMS'}}</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" class="bo-nav-link"
                       href="#">{{__ 'MASTER.HOWTO'}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="bo-nav-sub-link" href="{{__ 'MASTER.NEXT_STEPS_LINK'}}">{{__
                                'MASTER.NEXT_STEPS'}}</a></li>
                        <li><a class="bo-nav-sub-link" href="{{__ 'MASTER.FAQ_LINK'}}">{{__
                                'MASTER.FAQ'}}</a></li>
                        <li><a class="bo-nav-sub-link" href="{{__ 'MASTER.CODE_LINK'}}">{{__
                                'MASTER.CODE'}}</a></li>
                        <li><a class="bo-nav-sub-link" href="{{__ 'MASTER.TERMS_LINK'}}">{{__
                                'MASTER.TERMS'}}</a></li>
                    </ul>
                </li>
                <li><a class="bo-nav-link" href="{{__ 'MASTER.PARTNER_LINK'}}">{{__
                        'MASTER.PARTNER'}}</a></li>
                <li><a class="bo-nav-link" href="{{__ 'MASTER.PRESS_LINK'}}">{{__
                        'MASTER.PRESS'}}</a></li>
                <li><a class="bo-nav-link" href="{{__ 'MASTER.ABOUTUS_LINK'}}">{{__
                        'MASTER.ABOUTUS'}}</a></li>

                <!-- <li><a class="bo-nav-link" href="{{__ 'MASTER.JOIN_LINK'}}">{{__
                        'MASTER.JOIN'}}</a></li> -->
                <li class="hidden-lg">
                    <a href="https://www.facebook.com/breakoutmuenchen/" target="_blank">
                        <img id="social-icon-fb-sm" src="/img/logos/FB-f-Logo__white_144.png"/>
                        Facebook
                    </a>
                </li>
                <li class="hidden-lg">
                    <a href="https://www.instagram.com/breakout_challenge/" target="_blank">
                        <img id="social-icon-insta-sm" src="/img/logos/insta-logo.png"/>
                        Instagram
                    </a>
                </li>
                {{#each menu}}
                    <li><a href="{{itemlink}}">{{itemtext}}</a></li>
                {{/each}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
