<div class=" bo-team-card">
    <div class="bo-card-info">
        <div class="row">
            <div class="col-xs-3">
                <a href="{{getImageByWidth 800 user.profilePic.sizes}}" data-lightbox="image-{{id}}-{{user.id}}" data-title="{{user.firstname}} {{user.lastname}}">
                    <div class="bo-card-profilePic"
                        {{#if user.profilePic.sizes}}
                         style="background-image: url({{getImageByWidth 70 user.profilePic.sizes}});"
                        {{/if}}></div>
                </a>
            </div>
            <div class="col-xs-9">
                <div class="bo-card-info-name">
                    <span class="bo-card-info-headline"><a href="/team/{{user.participant.teamId}}" class="no-underline">{{user.participant.teamName}}</a> </span>
                    <a href="/post/{{id}}" class="bo-card-info-sub no-underline">{{user.firstname}} {{relativeTime date}}{{prettyLocation postingLocation.locationData}}</a>
                </div>
            </div>
        </div>
        {{#if isUserAdmin}}
            <div class="bo-admin-delete" data-delete-type="posting" data-id="{{id}}" data-posting-id="{{id}}">
                <i class="material-icons bo-card-actions-icon">delete forever</i>
            </div>
        {{/if}}
    </div>
    <div class="bo-card-media">
        {{#if media.0.sizes}}
            {{#ifCond media.0.type 'IMAGE'}}
                <a href="{{getImageByWidth 800 media.0.sizes}}" data-lightbox="image-{{id}}" data-title="{{text}}">
                  <img class="bo-card-media-image" src="{{getImageByWidth 400 media.0.sizes}}"  />
                </a>
            {{/ifCond}}
            {{#ifCond media.0.type 'AUDIO'}}
                <div class="plyr">
                    <audio controls preload="none">
                        <source src="{{getSmallestAudio media.0.sizes}}" type="audio/mp3">

                        <!-- Fallback -->
                        <a href="{{getSmallestAudio media.0.sizes}}">Download</a>
                    </audio>
                </div>
            {{/ifCond}}
            {{#ifCond media.0.type 'VIDEO'}}
                <div class="plyr" data-fullscreen-webm="{{getWebmVideoByWidth 1080 media.0.sizes}}" data-fullscreen-h264="{{getH264VideoByWidth 1080 media.0.sizes}}">
                    <video poster="{{getImageByWidth 400 media.0.sizes}}" controls preload="none">

                        <source src="{{getWebmVideoByWidth 400 media.0.sizes}}" type="video/webm">
                        <source src="{{getH264VideoByWidth 400 media.0.sizes}}" type="video/mp4">

                    </video>
                </div>
            {{/ifCond}}
            {{#if isUserAdmin}}
                <div class="bo-admin-delete" data-delete-type="media" data-id="{{media.0.id}}" data-posting-id="{{id}}">
                    <i class="material-icons bo-card-actions-icon">delete forever</i>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="bo-card-content">
        <p class="bo-text bo-replace-hashtags" data-hashtags="{{json hashtags}}">{{text}}</p>
        {{#if proves}}
            <div class="row bo-card-challenge">
                <div class="col-xs-2">
                    <i class="material-icons bo-card-done">done_all</i>
                </div>
                <div class="col-xs-10">
                    <span>{{proves.amount}} € - {{proves.description}}</span>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="bo-card-actions">
        <a href="#" class="bo-card-actions-like {{#if hasLiked}}active{{/if}}" data-id="{{id}}"><i
                class="material-icons bo-card-actions-icon">favorite</i>{{#if likes}}<span class="bo-like-count">{{likes}}</span> Likes{{else}}Gefällt
            mir{{/if}}</a>
        <a href="#" class="bo-card-actions-comment"><i
                class="material-icons bo-card-actions-icon">comment</i> {{length comments}} Kommentare</a>
    </div>
    <div class="bo-card-comments">
        {{#each comments}}
            {{> team-comment isUserAdmin=../isUserAdmin posting-id=../id}}
        {{/each}}
        <div class="bo-card-comment-new">
            <form class="newComment">
                <div class="col-xs-9">
                        <textarea name="newCommentText" rows="1" class="form-control bo-card-comment-input"
                                  placeholder="Kommentieren..."></textarea>
                    <input type="hidden" name="newCommentId" style="display: none;" value="{{id}}"/>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-block btn-default" type="submit">SEND</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
