<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}} - BreakOut</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="BreakOut &raquo; Feed"
          href="http://break-out.org/feed/"/>

    <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16"/>

    {{#each requirements}}
        <script type="text/javascript" src="/js/{{this}}.js" defer></script>
    {{/each}}
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top bo-header">
    <div class="container">

        <!-- non-collapsing items -->
        <ul class="nav navbar-nav navbar-right bo-user-icons">
            <!--<li>
                <button type="button" class="btn navbar-btn visible-lg text-uppercase"
                        data-toggle="modal" data-target="#modalLogin">Anmelden / Registrieren
                </button>
            </li>

                      <li><a href="#"><i class="material-icons">message</i></a></li>
                      <li><a href="#"><i class="material-icons">people</i></a></li>
                      <li><a href="#"><i class="material-icons">send</i></a></li>
            -->
            <li class="dropdown">
                <a id="userDropDown" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <!--<img src="#"
                         class="bo-nav-user-icon pull-left">--><i class="material-icons">expand_more</i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropDown">
                    <!--
                    <li class="pull-right"><a href="#"><i class="material-icons">message</i></a></li>
                    <li class="pull-right"><a href="#"><i class="material-icons">people</i></a></li>
                    <li class="pull-right"><a href="#"><i class="material-icons">send</i></a></li>
                    <li role="separator" class="divider clearfix"></li>
                    -->
                    <li><a href="/profile">Account Einstellungen</a></li>
                    <li><a href="http://www.break-out.org/faq" target="_blank">Hilfe</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="http://www.break-out.org/" target="_blank">Zur BreakOut Webseite</a></li>
                    <!--<li><a href="#">Mobile App herunterladen</a></li>
                    <li><a href="#">Weiter erzählen</a></li>-->
                    <li role="separator" class="divider"></li>
                    <li><a href="/logout">Abmelden</a></li>
                </ul>
            </li>
        </ul>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="bo-nav-logo" alt="BreakOut" src="/img/logos/BreakOut-Logo_Nav.svg">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-uppercase">
                {{#each menu}}
                    <li><a href="{{itemlink}}">{{itemtext}}</a></li>
                {{/each}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<script type="text/javascript" src="/js/bundle.js" defer></script>
<div class="bo-main-content">
    {{{content}}}
    {{{body}}}
</div>


{{> footer}}
</body>
</html>