{{!--
{
  title: 'Results of last BreakOut',
  vars: {
    teamsheading: {
      title: 'Heading for teams',
      type: 'text'
    },
    teamstext: {
      title: 'Text for teams',
      type: 'text'
    },
    donationsheading: {
      title: 'Heading for donations',
      type: 'text'
    },
    donationstext: {
      title: 'Text for donations',
      type: 'text'
    },
    distanceheading: {
      title: 'Heading for distance covered',
      type: 'text'
    },
    distancetext: {
      title: 'Text for distance covered',
      type: 'text'
    },
  }
}
--}}
<div class="container bo-highlight-container">

  <div class="row">
    <div class="col-md-4 text-center">
      <div class="bo-img-circle center-block vertical-center"><i class="material-icons md-48">group</i></div>
      <h4>{{teamsheading}}</h4>
      <p>{{teamstext}}</p>
    </div>
    <div class="col-md-4 text-center">
      <div class="bo-img-circle center-block vertical-center"><i class="material-icons md-48">trending_up</i></div>
      <h4>{{donationsheading}}</h4>
      <p>{{donationstext}}</p>
    </div>
    <div class="col-md-4 text-center">
      <div class="bo-img-circle center-block vertical-center"><i class="material-icons md-48">place</i></div>
      <h4>{{distanceheading}}r</h4>
      <p>{{distancetext}}</p>
    </div>
  </div>

</div><!-- /.container -->