<!--
{
  title: 'About breakout and news teaser',
  vars: {
    heading: {
      title: 'Heading',
      type: 'text'
    },
    contenttext: {
      title: 'Content description',
      type: 'text'
    },
    infolink: {
      title: 'Link to more information',
      type: 'url'
    },
    newstext: {
      title: 'News teaser',
      type: 'text'
    },
    newslink: {
      title: 'Link to news',
      type: 'url'
    }
  }
}
-->

<div class="container bo-highlight-container">
  <div class="row">
    <div class="col-md-8">
      <h3>{{heading}}</h3>
      {{contenttext}}
      <a href="#">{{infolink}}</a>
    </div>
    <div class="col-lg-4">
      <div class="bo-news-teaser">
        <h3>News</h3>
        <div class="bo-news-teaser-content">
        <p>{{newstext}}</p>
        <a href="#" class="btn btn-default btn-block">{{newslink}}</a> 
      </div>
    </div> 
    </div>
  </div>
</div>