{{!--
{
  "title": "Three posts including pictures",
  "variables": {
        "headline11": {
          "title": "First Headline (Team XX)",
          "type": "text"
        },
        "headline12": {
          "title": "Subheadline with Teamname",
          "type": "text"
        },
        "postcontent1": {
          "title": "Text content of the post",
          "type": "text"
        },
        "url1": {
          "title": "ImageUrl 1",
          "type": "url"
        },
        "headline21": {
          "title": "First Headline (Team XX)",
          "type": "text"
        },
        "headline22": {
          "title": "Subheadline with Teamname",
          "type": "text"
        },
        "postcontent2": {
          "title": "Text content of the post",
          "type": "text"
        },
        "url2": {
          "title": "ImageUrl 1",
          "type": "url"
        },
        "headline31": {
          "title": "First Headline (Team XX)",
          "type": "text"
        },
        "headline32": {
          "title": "Subheadline with Teamname",
          "type": "text"
        },
        "postcontent3": {
          "title": "Text content of the post",
          "type": "text"
        },
        "url3": {
          "title": "ImageUrl 1",
          "type": "url"
        }
  }
}
--}}
<!-- template -->
<div class="container bo-template-wrap">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default bo-post-wrap">
                <img class="img-responsive bo-img-replacable" src="{{{url1}}}" >
                <h4 class="bo-post-team-heading">{{{headline11}}}</h4>
                <h4 class="bo-post-team-heading">{{{headline12}}}</h4>
                <div class="panel-body">
                    {{{postcontent1}}}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default bo-post-wrap">
                <img class="img-responsive bo-img-replacable" src="{{{url2}}}" >
                <h4 class="bo-post-team-heading">{{{headline21}}}</h4>
                <h4 class="bo-post-team-heading">{{{headline22}}}</h4>
                <div class="panel-body">
                    {{{postcontent2}}}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default bo-post-wrap">
                <img class="img-responsive bo-img-replacable" src="{{{url3}}}" >
                <h4 class="bo-post-team-heading">{{{headline31}}}</h4>
                <h4 class="bo-post-team-heading">{{{headline32}}}</h4>
                <div class="panel-body">
                    {{{postcontent3}}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /template -->