{{!--
{
  "title": "3 Pics with Title and Text",
  "variables": {
    "url1": {
      "title": "ImageUrl 1",
      "type": "url"
    },
    "url2": {
      "title": "ImageUrl 1",
      "type": "url"
    },
    "url3": {
      "title": "ImageUrl 1",
      "type": "url"
    },
    "text1": {
      "title": "Text for image 1",
      "type": "text"
    },
    "text2": {
      "title": "Text for image 2",
      "type": "text"
    },
    "text3": {
      "title": "Text for image 3",
      "type": "text"
    },
    "heading1_1": {
      "title": "Header 1_1",
      "type": "text"
    },
    "heading2_1": {
      "title": "Header 2_1",
      "type": "text"
    },
    "heading3_1": {
      "title": "Header 3_1",
      "type": "text"
    },
    "heading1_2": {
      "title": "Header 1_2",
      "type": "text"
    },
    "heading2_2": {
      "title": "Header 2_2",
      "type": "text"
    },
    "heading3_3": {
      "title": "Header 3_2",
      "type": "text"
    }
  }
}
--}}

<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <img class="img-responsive bo-img-replaceable" src="{{url1}}">
            <h4>{{heading1_1}}</h4>
            <h4>{{heading1_2}}</h4>
            <p>{{text1}}</p>

        </div>
        <div class="col-xs-4">
            <img class="img-responsive bo-img-replaceable" src="{{url2}}">
            <h4>{{heading2_1}}</h4>
            <h4>{{heading2_2}}</h4>
            <p>{{text2}}</p>

        </div>
        <div class="col-xs-4">
            <img class="img-responsive bo-img-replaceable" src="{{url3}}">
            <h4>{{heading3_1}}</h4>
            <h4>{{heading3_2}}</h4>
            <p>{{text3}}</p>

        </div>
    </div>
</div>
<!-- /.container -->