<div class="bo-header-info">
    <div class="container">
        <div style="background-image: url({{me.profilePic.sizes.0.url}}); height: 100px; width: 100px;"
             class="bo-profile-image pull-left"></div>
        <div class="bo-profile-info">
            <p>{{me.firstname}} {{me.lastname}}</p>
            {{#if me.participant.teamId}}
                <p>Team {{me.participant.teamName}} ({{me.participant.eventCity}})</p>
            {{/if}}
        </div>
    </div>
    <div class="container bo-secondary-nav">
        <ul class="nav nav-tabs">
            {{#if me.participant.teamId}}
                <li role="presentation" class="active"><a href="#team" aria-controls="team" role="tab"
                                                          data-toggle="tab">{{__ 'NAVIGATION_TEAM'}}</a></li>
            {{ else }}
                <li role="presentation"><a href="/participant">{{__ 'LINK_TEAM'}}</a></li>
            {{/if}}
            {{#if me.sponsor}}
                <li role="presentation"><a href="#sponsor" aria-controls="team" role="tab"
                                           data-toggle="tab">{{__ 'NAVIGATION_SPONSOR'}}</a></li>
            {{ else }}
                <li role="presentation"><a href="/sponsor">{{__ 'LINK_SPONSOR'}}</a></li>
            {{/if}}
        </ul>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="team">
        <div class="container">
            <div id="result_profile"></div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Team ID</th>
                    <th>Team Name</th>
                    <th>Euro pro KM</th>
                    <th>Limit</th>
                </tr>
                </thead>
                <tbody>
                {{#each incSponsoring}}
                    <tr>
                        <td>{{teamId}}</td>
                        <td>{{team}}</td>
                        <td>{{amountPerKm}} €</td>
                        <td>{{limit}} €</td>
                        <td class="text-right">
                            <button class="btn btn-success bo-btn-accept" data-id="{{id}}">{{__ 'BTN_ACCEPT'}}</button>
                            <button class="btn btn-danger bo-btn-decline" data-id="{{id}}">{{__ 'BTN_DECLINE'}}</button>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane active" id="sponsor">

        <div class="container">
            <div class="row registration-margin">
                <div class="col-sm-3 col-sm-offset-9 text-right">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#addSponsoring">
                        {{__ 'BTN_ADD'}}
                    </button>
                </div>
            </div>
            <div id="result_profile"></div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Team ID</th>
                            <th>Team Name</th>
                            <th>Euro pro KM</th>
                            <th>Limit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each outSponsoring}}
                            <tr>
                                <td>{{teamId}}</td>
                                <td>{{team}}</td>
                                <td>{{amountPerKm}} €</td>
                                <td>{{limit}} €</td>
                                <td class="text-right">
                                    <button class="btn btn-warning bo-btn-edit"
                                            data-id="{{id}}">{{__ 'BTN_EDIT'}}</button>
                                    <button class="btn btn-danger bo-btn-delete"
                                            data-id="{{id}}">{{__ 'BTN_DELETE'}}</button>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <!--
    <div role="tabpanel" class="tab-pane" id="test">
        <div class="container bo-profile-form bo-single-row">
            <div id="result_team"></div>
            <form role="form" id="team_form">
                <div class="bo-reg-uploadInputWrapper"
                     style="height: 100px; width: 100px; background-image: url({{team.profilePic.sizes.0.url}});">
                    <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="teamPic"
                           id="teamPic"/>
                    <i class="material-icons registration-picture-icon">camera_alt</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamId">{{__ 'PROFILE.LABEL_TEAMID'}}</label>
                    <input type="text" class="form-control" id="teamId" name="teamId"
                           value="{{team.id}}" required="required" disabled="disabled">
                    <i class="form-control-feedback material-icons">people</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamName">{{__ 'PROFILE.LABEL_TEAMNAME'}}</label>
                    <input type="text" class="form-control" id="teamName" name="teamName"
                           value="{{team.name}}" required="required">
                    <i class="form-control-feedback material-icons">people</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="location">{{__ 'PROFILE.LABEL_LOCATION'}}</label>
                    <select class="form-control" id="location" disabled="disabled">
                        <option value="1" {{#ifCond team.event 1}}selected="selected"{{/ifCond}}>Berlin
                        </option>
                        <option value="2" {{#ifCond team.event 2}}selected="selected"{{/ifCond}}>München
                        </option>
                    </select>
                    <i class="form-control-feedback material-icons">near_me</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamDescription">{{__ 'PROFILE.LABEL_DESCRIPTION'}}</label>
                    <textarea id="teamDescription" rows="10" name="teamDescription"
                              class="form-control">{{team.description}}</textarea>
                    <i class="form-control-feedback material-icons">comment</i>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            id="team_CTA">{{__ 'PROFILE.BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
    -->
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal" id="addSponsoring" tabindex="-1" role="dialog" aria-labelledby="addModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalTitle">{{__ 'BTN_ADD'}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <p>{{__ 'ADD_MODAL_CONTENT'}}</p>
                    </div>
                </div>

                <form class="form" id="addSponsoringModal">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <select name="team" id="team_select" class="form-control" required="required">
                                    <option disabled="disabled">Team auswählen</option>
                                    {{#each team}}
                                        <option value="{{id}}">{{name}} ({{city}})</option>
                                    {{/each}}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="form-group">
                                <label for="amountPerKm_range">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input id="amountPerKm_range" type="range" name="amountPerKm_range" class="form-control"
                                       data-slider-min="0.01" data-slider-max="5" data-slider-step="0.01"
                                       data-slider-value="0.3" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="amountPerKm_text">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input type="text" class="form-control" name="amountPerKm_text"
                                       id="amountPerKm_text" required="required"
                                       placeholder="{{__ 'LABEL_AMOUNT_KM'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="amountPerKm_text">{{__ 'LABEL_LIMIT'}}</label>
                                <input type="text" class="form-control" name="amountPerKm_text"
                                       id="amountPerKm_text" required="required"
                                       placeholder="{{__ 'LABEL_LIMIT'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well">

                            </div>
                        </div>
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/sponsoring.js" type="text/javascript" defer></script>