<div class="bo-header-info">
    <div class="container">
        <div style="background-image: url({{me.profilePic.sizes.0.url}}); height: 100px; width: 100px;"
             class="bo-profile-image pull-left"></div>
        <div class="bo-profile-info">
            <p>{{me.firstname}} {{me.lastname}}</p>
            {{#if me.participant.teamId}}
                <p>Team {{me.participant.teamName}} ({{me.participant.eventCity}})</p>
            {{/if}}
        </div>
    </div>
    <div class="container bo-secondary-nav">
        <ul class="nav nav-tabs">
            {{#if status.is.team}}
                <li role="presentation"><a href="#team" aria-controls="team" role="tab"
                                                          data-toggle="tab">{{__ 'NAVIGATION_TEAM'}}</a></li>
            {{/if}}
            {{#if status.is.sponsor}}
                <li role="presentation"
                    {{#unless status.is.team}}
                    class="active"
                    {{/unless}}
                ><a href="#sponsor" aria-controls="team" role="tab"
                    data-toggle="tab">{{__ 'NAVIGATION_SPONSOR'}}</a></li>
            {{ else }}
                <!--<li role="presentation"><a href="/sponsor">{{__ 'LINK_SPONSOR'}}</a></li>-->
            {{/if}}
            {{#if status.is.team}}
                <li role="presentation" class="active"><a href="#result" aria-controls="result" role="tab"
                                                          data-toggle="tab">{{__ 'NAVIGATION_RESULT'}}</a></li>
            {{/if}}
        </ul>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="team">
        <div class="container">
            <div class="row registration-margin">
                <div class="col-sm-3 col-sm-offset-9 text-right">
                    <button id="bo-add-offline-sponsoring-model-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#selfSponsoring">
                        {{__ 'BTN_ADD'}}
                    </button>
                </div>
            </div>
            <div id="result_in"></div>
            <h3>Sponsorings</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sponsor ID</th>
                    <th>Sponsor Name</th>
                    <th>Euro pro KM</th>
                    <th>Limit</th>
                </tr>
                </thead>
                <tbody>
                {{#unless incSponsoring}}
                    <tr>
                        <td colspan="4"><i>No sponsorings found</i></td>
                    </tr>
                {{/unless}}
                {{#each incSponsoring}}
                    <tr>
                        <td>{{sponsorId}}</td>
                        {{#if unregisteredSponsor}}
                            <td>{{unregisteredSponsor.firstname}} {{unregisteredSponsor.lastname}}</td>
                        {{else}}
                            <td>{{sponsor.firstname}} {{sponsor.lastname}}</td>
                        {{/if}}
                        <td>{{amountPerKm}} €</td>
                        {{#ifCond limit 1000000000}}
                            <td>Kein Limit</td>
                        {{else}}
                            <td>{{limit}} €</td>
                        {{/ifCond}}
                        <td class="text-right">
                            {{#ifCond status "PROPOSED"}}

                                <button class="btn btn-success bo-btn-accept" data-team="{{teamId}}"
                                        data-sponsoring="{{id}}" data-event="{{eventId}}">{{__ 'BTN_ACCEPT'}}</button>
                                <button class="btn btn-danger bo-btn-decline" data-team="{{teamId}}"
                                        data-sponsoring="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DECLINE'}}</button>
                            {{else}}
                                {{#ifCond status "ACCEPTED"}}
                                    {{#if unregisteredSponsor}}
                                        <button class="btn btn-danger bo-btn-delete" data-team="{{teamId}}"
                                                data-sponsoring="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DELETE'}}</button>
                                    {{else}}
                                        <span class="text-success">{{__ 'STATUS_ACCEPTED'}}</span>
                                    {{/if}}
                                {{/ifCond}}
                                {{#ifCond status "REJECTED"}}
                                    <span class="text-danger">{{__ 'STATUS_REJECTED'}}</span>
                                {{/ifCond}}
                                {{#ifCond status "WITHDRAWN"}}
                                    <span class="text-danger">{{__ 'STATUS_WITHDRAWN'}}</span>
                                {{/ifCond}}
                            {{/ifCond}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <h3>Challenges</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Sponsor ID</th>
                    <th>Sponsor Name</th>
                    <th>Beschreibung</th>
                    <th>Euro</th>
                </tr>
                </thead>
                <tbody>
                {{#unless incChallenges}}
                    <tr>
                        <td colspan="4"><i>No challenges found</i></td>
                    </tr>
                {{/unless}}
                {{#each incChallenges}}
                    <tr>
                        <td>{{sponsorId}}</td>
                        {{#if unregisteredSponsor}}
                            <td>{{unregisteredSponsor.firstname}} {{unregisteredSponsor.lastname}}</td>
                        {{else}}
                            <td>{{sponsor.firstname}} {{sponsor.lastname}}</td>
                        {{/if}}
                        <td>{{description}}</td>
                        <td>{{amount}} €</td>
                        <td class="text-right">
                            {{#ifCond status "PROPOSED"}}
                                <button class="btn btn-success challengeAccept" data-team="{{teamId}}"
                                        data-id="{{id}}" data-event="{{eventId}}">{{__ 'BTN_ACCEPT'}}</button>
                                <button class="btn btn-danger challengeReject" data-team="{{teamId}}"
                                        data-id="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DECLINE'}}</button>
                            {{else}}
                                {{#ifCond status "ACCEPTED"}}
                                    {{#if unregisteredSponsor}}
                                        <button class="btn btn-danger challengeDelete" data-team="{{teamId}}"
                                                data-id="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DELETE'}}</button>
                                    {{else}}
                                        <span class="text-success">{{__ 'STATUS_ACCEPTED'}}</span>
                                    {{/if}}
                                {{/ifCond}}
                                {{#ifCond status "REJECTED"}}
                                    <span class="text-danger">{{__ 'STATUS_REJECTED'}}</span>
                                {{/ifCond}}
                                {{#ifCond status "WITHDRAWN"}}
                                    <span class="text-danger">{{__ 'STATUS_WITHDRAWN'}}</span>
                                {{/ifCond}}
                            {{/ifCond}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane
    {{#unless status.is.team}}
        {{#if status.is.sponsor}}
            active
        {{/if}}
    {{/unless}}
    " id="sponsor">
        <div class="container">
            <div class="row registration-margin">
                <div class="col-sm-5 col-sm-offset-7 text-right">
                    <button id="bo-add-challenge-model-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#addChallenge">
                        {{__ 'BTN_ADD_CHALLENGE'}}
                    </button>
                    <button id="bo-add-sponsoring-model-btn" type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                            data-target="#addSponsoring">
                        {{__ 'BTN_ADD'}}
                    </button>
                </div>
            </div>
            <div id="result_out"></div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Sponsorings</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Team ID</th>
                            <th>Team Name</th>
                            <th>Euro pro KM</th>
                            <th>Limit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#unless outSponsoring}}
                            <tr>
                                <td colspan="4"><i>No sponsorings found</i></td>
                            </tr>
                        {{/unless}}
                        {{#each outSponsoring}}
                            <tr>
                                <td>{{teamId}}</td>
                                <td>{{team}}</td>
                                <td>{{amountPerKm}} €</td>
                                {{#ifCond limit 1000000000}}
                                    <td>Kein Limit</td>
                                {{else}}
                                    <td>{{limit}} €</td>
                                {{/ifCond}}
                                <td class="text-right">
                                    <!--<button class="btn btn-warning bo-btn-edit"
                                            data-id="{{id}}" data-toggle="modal"
                                            data-target="#editSponsoring">{{__ 'BTN_EDIT'}}</button>-->

                                    {{#ifCond status "WITHDRAWN"}}
                                        <span class="text-danger">{{__ 'STATUS_WITHDRAWN'}}</span>
                                    {{else}}
                                        <button class="btn btn-danger bo-btn-delete" data-team="{{teamId}}"
                                                data-sponsoring="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DELETE'}}</button>
                                    {{/ifCond}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    <h3>Challenges</h3>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Team ID</th>
                            <th>Team Name</th>
                            <th>Beschreibung</th>
                            <th>Euro</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#unless outChallenges}}
                            <tr>
                                <td colspan="4"><i>No challenges found</i></td>
                            </tr>
                        {{/unless}}
                        {{#each outChallenges}}
                            <tr>
                                <td>{{teamId}}</td>
                                <td>{{team}}</td>
                                <td>{{description}}</td>
                                <td>{{amount}} €</td>
                                <td class="text-right">
                                    {{#ifCond status "WITHDRAWN"}}
                                        <span class="text-danger">{{__ 'STATUS_WITHDRAWN'}}</span>
                                    {{else}}
                                        <button class="btn btn-danger challengeDelete" data-team="{{teamId}}"
                                                data-id="{{id}}" data-event="{{eventId}}">{{__ 'BTN_DELETE'}}</button>
                                    {{/ifCond}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Recorded donations -->
    <div role="tabpanel" class="tab-pane
    {{#if status.is.team}}
        active
    {{/if}}
    " id="result">
        <div class="container">
            <div class="registration-margin"></div>
            <div id="result_in"></div>
            <h3>{{__ 'NAVIGATION_RESULT'}} (Total: {{confirmedDonations.totalSum}} € in {{confirmedDonations.totalCount}})</h3>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Soll</th>
                    <th>Ist</th>
                    <th>Offen</th>
                    <th>Sponsor</th>
                </tr>
                </thead>
                <tbody id="list">
                {{#each confirmedDonations.invoices}}
                    <tr>
                        <td>{{amount}} €</td>
                        <td>{{payed}} €</td>
                        <td>{{open}} €</td>
                        <td>
                            {{#if firstname}}
                                {{#if company}}
                                    {{company}} -
                                {{/if}}
                                {{firstname}}
                                {{lastname}}
                            {{else}}
                                {{#if sponsorings}}
                                    {{#if sponsorings.0.unregisteredSponsor}}
                                        {{#if sponsorings.0.unregisteredSponsor.company}}
                                            {{sponsorings.0.unregisteredSponsor.company}} -
                                        {{/if}}
                                        {{sponsorings.0.unregisteredSponsor.firstname}}
                                        {{sponsorings.0.unregisteredSponsor.lastname}}
                                    {{else}}
                                        {{#if sponsorings.0.company}}
                                            {{sponsorings.0.company}} -
                                        {{/if}}
                                        {{sponsorings.0.firstname}}
                                        {{sponsorings.0.lastname}}
                                    {{/if}}
                                {{else}}
                                    {{#if challenges.0.unregisteredSponsor}}
                                        {{#if challenges.0.unregisteredSponsor.company}}
                                            {{challenges.0.unregisteredSponsor.company}} -
                                        {{/if}}
                                        {{challenges.0.unregisteredSponsor.firstname}}
                                        {{challenges.0.unregisteredSponsor.lastname}}
                                    {{else}}
                                        {{#if challenges.0.company}}
                                            {{challenges.0.company}} -
                                        {{/if}}
                                        {{challenges.0.firstname}}
                                        {{challenges.0.lastname}}
                                    {{/if}}
                                {{/if}}
                            {{/if}}

                            {{#each members}}
                                {{firstname}} {{lastname}} ({{gender}} - {{participant.tshirtSize}}){{#if @first}}
                                <br/>{{/if}}
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal" id="addSponsoring" tabindex="-1" role="dialog" aria-labelledby="addModalTitle" {{#weakIfCond mode 2}} data-showReferrer="true" {{/weakIfCond}}>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="addSponsoringModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="addModalTitle">{{__ 'BTN_ADD'}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="addResult"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{__ 'ADD_MODAL_CONTENT'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <select name="team" id="team_select" class="form-control"
                                        required="required">
                                    <!-- TODO: l10n -->
                                    <option disabled selected>{{__ 'SELECT_TEAM'}}</option>
                                    {{#each teams}}
                                        <option value='{"team": "{{teamId}}", "event": "{{eventId}}"}' {{#weakIfCond ../fromTeam teamId}} selected="selected" {{/weakIfCond}}>
                                            {{teamName}} ({{teamId}}) ({{eventTitle}})
                                        </option>
                                    {{/each}}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="form-group">
                                <label for="amountPerKm_range">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input id="amountPerKm_range" type="range" name="amountPerKm_range" class="form-control"
                                       min="0.01" max="2" step="0.01"
                                       value="0.3" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="amountPerKm_text">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input type="text" class="form-control" name="amountPerKm_text"
                                       id="amountPerKm_text" required="required" value="0.30"
                                       placeholder="{{__ 'LABEL_AMOUNT_KM'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="limit">{{__ 'LABEL_LIMIT'}}</label>
                                <input type="text" class="form-control" name="limit"
                                       id="limit"
                                       placeholder="{{__ 'LABEL_LIMIT'}}">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well" id="output">

                            </div>
                            <h4 class="text-right">{{__ 'ESTIMATED_DONATE_PROMISE'}}: <strong><span
                                    id="estimate"></span>€</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__ 'BTN_ABORT'}}</button>
                    <button type="submit" class="btn btn-primary" id="bo-add-cta">{{__ 'BTN_ADD'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="addChallenge" tabindex="-1" role="dialog" aria-labelledby="addChallengeTitle" {{#weakIfCond mode 1}} data-showReferrer="true" {{/weakIfCond}}>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="addChallengeForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="addChallengeTitle">{{__ 'BTN_ADD_CHALLENGE'}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="addChallengeResult"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{__ 'ADD_CHALLENGE_MODAL_CONTENT'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <select name="addChallengeTeam" id="addChallengeTeam" class="form-control" required="required">
                                    <option disabled selected>{{__ 'SELECT_TEAM'}}</option>
                                    {{#each teams}}
                                        <option value='{"team": "{{teamId}}", "event": "{{eventId}}"}' {{#weakIfCond ../fromTeam teamId}} selected="selected" {{/weakIfCond}} >
                                            {{teamName}} ({{teamId}}) ({{eventTitle}})
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="addChallengeRow">
                        <div class="col-sm-9">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="addChallengeDescription">{{__ 'LABEL_CHALLENGE_DESCRIPTION'}}</label>
                                <textarea class="form-control" name="addChallengeDescription[]"
                                          id="addChallengeDescription" required="required"
                                          placeholder="{{__ 'LABEL_CHALLENGE_DESCRIPTION'}}"></textarea>
                                <i class="form-control-feedback material-icons">description</i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="addChallengeAmount">{{__ 'LABEL_CHALLENGE_AMOUNT'}}</label>
                                <input type="text" class="form-control" name="addChallengeAmount[]"
                                       id="addChallengeAmount" required="required"
                                       placeholder="{{__ 'LABEL_CHALLENGE_AMOUNT'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" id="addChallengeExtend" class="btn btn-block btn-default">
                                {{__ 'ADD_ANOTHER_CHALLENGE'}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__ 'BTN_ABORT'}}</button>
                    <button type="submit" class="btn btn-primary"
                            id="addChallengeCTA">{{__ 'BTN_ADD_CHALLENGE'}}</button>
                </div>
            </form>
        </div>

    </div>
</div>
<!--
<div class="modal" id="editSponsoring" tabindex="-1" role="dialog" aria-labelledby="editModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="editSponsoringModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="editModalTitle">{{__ 'BTN_EDIT'}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="editResult"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{__ 'EDIT_MODAL_CONTENT'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <select name="team" id="bo-edit-id" class="form-control" required="required">
                                    <option disabled="disabled">Team auswählen</option>
                                    {{#each teams}}
                                        <option value='{"team": "{{id}}", "event": "{{event}}"}'>
                                            {{name}} ({{city}})
                                         ({{#each members}}
    {{#unless @first}} & {{/unless}}{{firstname}}
{{/each}})
                                        </option>
                                    {{/each}}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 hidden-xs">
                            <div class="form-group">
                                <label for="bo-edit-amountPerKm-range">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input id="bo-edit-amountPerKm-range" type="range" name="amountPerKm_range"
                                       class="form-control"
                                       min="0.01" max="2" step="0.01"
                                       value="0.3" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-edit-amountPerKm-text">{{__ 'LABEL_AMOUNT_KM'}}</label>
                                <input type="text" class="form-control" name="amountPerKm_text"
                                       id="bo-edit-amountPerKm-text" required="required" value="0.30"
                                       placeholder="{{__ 'LABEL_AMOUNT_KM'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-edit-limit">{{__ 'LABEL_LIMIT'}}</label>
                                <input type="text" class="form-control" name="limit"
                                       id="bo-edit-limit"
                                       placeholder="{{__ 'LABEL_LIMIT'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well" id="bo-edit-output">

                            </div>
                            <h4 class="text-right">Geschätzes Spendenversprechen: <strong><span
                                    id="bo-edit-estimate"></span>€</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__
        'BTN_ABORT'}}</button>
                    <button type="submit" class="btn btn-primary" id="bo-edit-cta">{{__ 'BTN_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
-->
<div class="modal" id="selfSponsoring" tabindex="-1" role="dialog" aria-labelledby="selfModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="selfModalTitle">{{__ 'HEADER_SELF_SPONSORING'}}</h3>
            </div>
            <form class="form" id="selfSponsoringModal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="selfResult"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{__ 'SELF_MODAL_TEXT'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <input name="team" id="bo-self-id" hidden="hidden"
                                       style="display: none;"
                                       required="required"
                                       value='{"team": "{{me.participant.teamId}}", "event": "{{me.participant.eventId}}"}'/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-company">{{__ 'LABEL_COMPANY'}} ({{__
                                        'OPTIONAL'}})</label>
                                <input id="bo-self-company" type="text" name="company"
                                       class="form-control">
                                <!-- TODO add proper icon -->
                                <i class="form-control-feedback material-icons">business</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-gender">{{__ 'LABEL_GENDER'}}</label>
                                <select id="bo-self-gender" class="form-control" required="required"
                                        name="gender">
                                    <option disabled="disabled" selected="selected">{{__
                                            'LABEL_GENDER'}}</option>
                                    <option value="male">Herr</option>
                                    <option value="female">Frau</option>
                                </select>
                                <!-- TODO add proper icon -->
                                <i class="form-control-feedback material-icons">person_outline</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-firstname">{{__
                                        'PROFILE.LABEL_FIRSTNAME'}}</label>
                                <input id="bo-self-firstname" type="text" name="firstname"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">person_outline</i>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-lastname">{{__ 'PROFILE.LABEL_NAME'}}</label>
                                <input id="bo-self-lastname" type="text" name="lastname"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">person_outline</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-street">{{__ 'LABEL_STREET'}}</label>
                                <input id="bo-self-street" type="text" name="street"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pin_drop</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-housenumber">{{__ 'LABEL_HOUSENUMBER'}}</label>
                                <input id="bo-self-housenumber" type="text" name="housenumber"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pin_drop</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-zipcode">{{__ 'LABEL_ZIPCODE'}}</label>
                                <input id="bo-self-zipcode" type="text" name="zipcode"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pin_drop</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-city">{{__ 'LABEL_CITY'}}</label>
                                <input id="bo-self-city" type="text" name="city"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pin_drop</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-country">{{__ 'LABEL_COUNTRY'}}</label>
                                <input id="bo-self-country" type="text" name="country"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pin_drop</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-email">{{__ 'LABEL_EMAIL'}}</label>
                                <input id="bo-self-email" type="email" name="email"
                                       class="form-control">
                                <i class="form-control-feedback material-icons">email</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-contract">{{__ 'LABEL_CONTRACT'}}</label>
                                <input id="bo-self-contract" type="file" name="contract"
                                       class="form-control" required="required">
                                <i class="form-control-feedback material-icons">pages</i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-contract">{{__ 'LABEL_URL'}} ({{__ 'OPTIONAL'}}
                                    )</label>
                                <input id="bo-self-contract" type="url" name="url"
                                       class="form-control">
                                <i class="form-control-feedback material-icons">pageview</i>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-sm-8 hidden-xs">
                            <div class="form-group">
                                <label for="bo-self-amountPerKm-range">{{__
                                        'LABEL_AMOUNT_KM'}}</label>
                                <input id="bo-self-amountPerKm-range" type="range"
                                       name="amountPerKm_range"
                                       class="form-control"
                                       min="0" max="2" step="0.01"
                                       value="0.3" required="required">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-amountPerKm-text">{{__
                                        'LABEL_AMOUNT_KM'}}</label>
                                <input type="text" class="form-control" name="amountPerKm_text"
                                       id="bo-self-amountPerKm-text" required="required"
                                       value="0.30"
                                       placeholder="{{__ 'LABEL_AMOUNT_KM'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="bo-self-limit">{{__ 'LABEL_LIMIT'}}</label>
                                <input type="text" class="form-control" name="limit"
                                       id="bo-self-limit"
                                       placeholder="{{__ 'LABEL_LIMIT'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="well" id="bo-self-output">

                            </div>
                            <h4 class="text-right">{{__ 'ESTIMATED_DONATE_PROMISE'}}: <strong><span
                                    id="bo-self-estimate"></span>€</strong></h4>
                        </div>
                    </div>
                    <div class="row" id="selfChallengeRow">
                        <div class="col-sm-9">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="selfChallengeDescription">{{__
                                        'LABEL_CHALLENGE_DESCRIPTION'}}</label>
                                <textarea class="form-control" name="selfChallengeDescription[]"
                                          id="selfChallengeDescription"
                                          placeholder="{{__
                                                  'LABEL_CHALLENGE_DESCRIPTION'}}"></textarea>
                                <i class="form-control-feedback material-icons">description</i>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="selfChallengeAmount">{{__
                                        'LABEL_CHALLENGE_AMOUNT'}}</label>
                                <input type="text" class="form-control" name="selfChallengeAmount[]"
                                       id="selfChallengeAmount"
                                       placeholder="{{__ 'LABEL_CHALLENGE_AMOUNT'}}">
                                <i class="form-control-feedback material-icons">euro_symbol</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" id="selfChallengeExtend"
                                    class="btn btn-block btn-default">
                                {{__ 'ADD_ANOTHER_CHALLENGE'}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__
                            'BTN_ABORT'}}</button>
                    <button type="submit" class="btn btn-primary" id="bo-self-cta">{{__
                            'BTN_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/sponsoring.js" type="text/javascript" defer></script>