<div class="bo-header-info bo-team-header"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{__ 'HEADLINE'}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="list-group">
                <span class="list-group-item">
                    <button class="btn btn-primary" data-toggle="modal"
                            data-target="#createNewMessage">{{__ 'BTN_ADD'}}</button>
                </span>
                {{#each threads}}
                    {{> message-thread}}
                {{/each}}
            </div>
            <div id="results">

            </div>
        </div>
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Nachrichtenverlauf</div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="createNewMessage" tabindex="-1" role="dialog" aria-labelledby="addModalTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form class="form" id="addSponsoringModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="addModalTitle">{{__ 'BTN_ADD'}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12" id="addResult"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>{{__ 'ADD_CONTENT'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback has-feedback-left">
                                <label for="search">{{__ 'LABEL_SEARCH'}}</label>
                                <input type="text" name="search" id="search" autocomplete="off" class="form-control"
                                       placeholder="{{__ 'PLACEHOLDER_SEARCH'}}">
                                <i class="form-control-feedback material-icons">phone</i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h4>{{__ 'FOUND_USERS'}}</h4>
                            <div class="list-group" id="searchResults">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h4>{{__ 'SELECTED_USERS'}}</h4>
                            <div class="list-group" id="selectedResults">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{__ 'BTN_ABORT'}}</button>
                    <button type="submit" class="btn btn-primary" id="bo-add-cta">{{__ 'BTN_ADD'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/messages.js" type="text/javascript"></script>