<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>BreakOut {{events.eventString}}{{#if events.allCurrent}} - Liveblog {{/if}}</h1>
        </div>
        <div class="col-md-3">
            {{> choose-event events}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-lb-divider"/>
        </div>
    </div>
    <div class="row bo-lb-counter-wrap">
        <div class="col-xs-12">
            {{#if counter}}
                <div class="col-md-4 text-center">
                <span class="bo-lb-counter" id="boLBCounter" data-start="{{counter.start}}" data-end="{{counter.end}}"
                      data-status="{{counter.status}}"></span>
                    <h3 id="boLbCounterDescription"></h3>
                </div>
            {{/if}}
            <div class="{{#unless counter}}col-md-offset-2 {{/unless}} col-md-4 text-center">
                <span class="bo-lb-counter"><span id="bo-donate-sum">{{round events.global.donatesum}}</span> €</span>
                <p>
                    {{#each events.individual}}
                        {{#unless @first}} & {{/unless}}
                        <span class="bo-donate-sum" data-id="{{id}}">
                            {{round donatesum.fullSum}}
                        </span>€ {{city}} {{#unless ../events.allSameYear}} {{year}} {{/unless}}
                    {{/each}}
                </p>
                <h3>{{__ 'DONATIONS'}}</h3>
            </div>
            <div class="col-md-4 text-center">
                <span class="bo-lb-counter"><span id="bo-distance-sum">{{round events.global.distance}}</span> km</span>
                <p>
                    {{#each events.individual}}
                        {{#unless @first}} & {{/unless}}
                        <span class="bo-distance-sum" data-id="{{id}}">
                            {{round distance.distance}}
                        </span> km {{city}} {{#unless ../events.allSameYear}} {{year}} {{/unless}}
                    {{/each}}
                </p>
                <h3>{{__ 'DISTANCE'}}</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-lb-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>{{__ 'HEADLINE'}}</h2>
            <p class="bo-text">
                {{__ 'DESCRIPTION'}}
            </p>
            <a href="/login" role="button" id="bo-liveblog-login-btn" class="btn btn-primary btn-block text-uppercase">{{__ 'BTN'}}</a>
            <!--<p class="bo-text bo-lb-newsletter">
                <a href="http://www.break-out.org/newsletter">{{__ 'NEWSLETTER'}}</a>
            </p>-->
        </div>
        <div class="col-md-8">
            <div id="map-fullscreen-icon"><a href="/map" class="glyphicon glyphicon-resize-full"></a></div>
            <div id="map" class="bo-team-placeholder" style="width:100%; min-height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-lb-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'POSTS_HEADLINE'}} {{events.eventString}}</h2>
        </div>
        <div class="clearfix"></div>
        <div id="teamPosts">
            {{#each postings}}
                <div class="col-xs-12 col-sm-6 col-lg-4 bo-team-post">
                    {{> team-posting isUserAdmin=../isUserAdmin currentUserId=../isLoggedIn.me.id}}
                </div>
            {{/each}}
        </div>
        <div id="boTeamPostScroll" class="col-xs-12"></div>
    </div>
</div>
<script>
    window.activeEvents = {{{json activeEvents}}};
    window.mapData = {{{json mapData}}};
    window.days = '{{__ 'TIME_DAYS'}}';
    window.states = {
        pre: '{{__ 'TIME_PRE'}}',
        during: '{{__ 'TIME_DURING'}}',
        post: '{{__ 'TIME_POST'}}'
    };
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/team.js" type="text/javascript"></script>
<script src="/js/liveblog.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
