<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Highscores {{eventsInfo.eventString}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="" style="width:100%; min-height: 500px;" id="map"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px;">
        <div class="col-sm-6">
            <h3>Die größte Distanz</h3>

            <table class="table">
                <thead>
                <tr>
                    <th>Platz</th>
                    <th>Teamname</th>
                    <th>Distanz</th>
                </tr>
                </thead>
                <tbody>

                {{#each teamDistanceData}}
                    <tr>
                        <td>{{addOne @index}}</td>
                        <td>
                            <a href="/team/{{id}}">{{name}}</a></td>
                        <td>{{round distance}} km</td>
                    </tr>
                {{/each}}


                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <h3>Am meisten Geld</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Platz</th>
                    <th>Teamname</th>
                    <th>Betrag</th>
                </tr>
                </thead>
                <tbody>
                {{#each teamMoneyData}}
                    <tr>
                        <td>{{addOne @index}}</td>
                        <td>
                            <a href="/team/{{id}}">{{name}}</a></td>
                        <td>{{round donateSum.fullSum}} €</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    window.mapData = {{{json mapData}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE"></script>
<script src="/js/map.js" type="text/javascript"></script>
