<div class="bo-header-info bo-team-header">
    <img class="center-block" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">BreakOut 2016 - Liveblog</h1>
        </div>
    </div>
    <div class="row bo-lb-counter-wrap">
        <div class="col-xs-12">
            <div class="col-md-4 text-center">
                <span class="bo-lb-counter" id="boLBCounter" data-start="{{counter.start}}" data-end="{{counter.end}}"
                      data-status="{{counter.status}}"></span>
                <p id="boLbCounterDescription"></p>
                <h3>BreakOut Event</h3>
            </div>
            <div class="col-md-4 text-center">
                <span class="bo-lb-counter">{{round events.global.donatesum}} €</span>
                <p>
                    {{#each events.individual}}
                        {{#unless @first}} & {{/unless}}{{round donatesum.full_sum}}€ {{city}}
                    {{/each}}
                </p>
                <h3>Spenden</h3>
            </div>
            <div class="col-md-4 text-center">
                <span class="bo-lb-counter">{{round events.global.distance}} km</span>
                <p>
                    {{#each events.individual}}
                        {{#unless @first}} & {{/unless}}{{round distance.linear_distance}}km {{city}}
                    {{/each}}
                </p>
                <h3>Entfernung</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-lb-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Was ist BreakOut?</h2>
            <p class="bo-text">
                {{__ 'DESCRIPTION'}}
            </p>
        </div>
        <div class="col-md-8">
            <div id="map" class="bo-team-placeholder" style="width:100%; min-height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-lb-divider"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>Aktuelle Posts von reisenden Teams</h2>
        </div>
        <div class="clearfix"></div>
        <div id="teamPosts">
            {{#each postings}}
                <div class="col-lg-4 col-sm-6 bo-team-post">
                    {{> team-posting}}
                </div>
            {{/each}}
        </div>
        <div id="boTeamPostScroll" class="col-xs-12"></div>
    </div>
</div>
<script src="/js/team.js" type="text/javascript"></script>
<script src="/js/liveblog.js" type="text/javascript"></script>
<script src="/js/map.js" type="text/javascript"></script>
