<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{this.headline}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <p class="bo-text">
                {{{md this.description}}}
            </p>
        </div>
        <div class="col-sm-6">
            {{{contentfulImage this.teamImage "img-responsive" ""}}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <hr class="bo-member-divider"/>
        </div>
    </div>
    <div class="row">
        {{#each this.activeMembers}}
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="bo-member-photo-wrap">
                    <div class="bo-member-photo"
                         style="background-image: url('{{this.profilImage.fields.file.url}}')"></div>
                    <div class="bo-member-info-wrap">
                        <div class="bo-member-info-name">{{this.firstname}}</div>
                        <div class="bo-member-info-role">{{this.team}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>


    {{#if this.hasInactiveMembers}}
        <div class="row">
            <h2>Ehemalige Mitglieder</h2>
        </div>
        <div class="row">
            {{#each this.inactiveMembers}}
                <div class="col-xs-6 col-sm-3 col-md-2">
                    <div class="bo-member-photo-wrap">
                        <div class="bo-member-photo"
                             style="background-image: url('{{this.profilImage.fields.file.url}}')">
                        </div>
                        <div class="bo-member-info-wrap">
                            <div class="bo-member-info-name">{{this.firstname}}</div>
                            <div class="bo-member-info-role">{{this.team}}</div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}

    <div class="row">
        <div class="col-xs-12">
            <p>&nbsp;</p>
        </div>
    </div>
</div>
