<div class="container">
    <div class="col-md-6 registration-box-border div-align-mid">
        <div class="row registration-margin">
            <div class="col-md-6 div-align-mid">
                <img class="bo-modal-logo center" alt="BreakOut" src="/img/logos/BreakOut-Logo_Header.svg">
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <h3 class="text-center">{{__ 'HEADLINE'}}</h3>
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <p>{{__ 'DESCRIPTION_1'}}</p>
                <ul>
                    <li>{{__ 'ELEMENT_1'}}</li>
                    <li>{{__ 'ELEMENT_2'}}</li>
                    <li>{{__ 'ELEMENT_3'}}</li>
                </ul>
                <p>{{__ 'DESCRIPTION_2'}}</p>
                <p>{{__ 'DESCRIPTION_3'}}</p>
                <p>{{{__ 'DESCRIPTION_4'}}}</p>
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <div class="bo-reg-well-selection">
                    <h4>{{__ 'SUBHEADLINE_1'}}</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'ACCNUMBER'}}</h5>
                            </div>
                            <!-- TODO: This should not be hardcoded! -->
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="DE85 7002 2200 0020 2418 37">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'BANKNUMBER'}}</h5>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="FDDODEMMXXX">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'OWNER'}}</h5>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="BreakOut e.V.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'PURPOSE'}}</h5>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="{{purpose}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <div class="bo-reg-well-selection">
                    <h4>Paypal</h4>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'MAIL'}}</h5>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="anmeldung@break-out.org">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <h5 class="bo-payment-label">{{__ 'PURPOSE'}}</h5>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  disabled="disabled" value="{{purpose}}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row registration-margin">
            <div class="col-xs-12">
                <a href="/payment-success" class="no-underline"><button class="btn btn-primary btn-block" id="mainCTA">{{__ 'CONTINUE'}}</button></a>
            </div>
        </div>
    </div>
</div>
</div>