<div class="row">
    <div class="col-xs-12">
        <input type="search" class="form-control" placeholder="Suche...">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Stadt</th>
                <th>Mitglieder</th>
                <th>Aktion</th>
            </tr>
            </thead>
            <tbody id="list">
            {{#each this}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{event}}</td>
                    <td>
                        {{#each members}}
                            {{firstname}} {{lastname}} ({{gender}} - {{participant.tshirtSize}}){{#if @first}}<br/>{{/if}}
                        {{/each}}
                    </td>
                    <td>
                        {{#if hasStarted}}
                            <button class="btn btn-success btn-checkin" data-event="{{event}}" data-team="{{id}}">Successfully checked in</button>
                        {{else}}
                            <button class="btn btn-primary btn-checkin" data-event="{{event}}" data-team="{{id}}">Team einchecken</button>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>