<div class=" bo-team-card">
    <div class="bo-card-info">
        <div class="row">
            <div class="col-xs-3">
                <a {{#if user.profilePic.url}}href="{{user.profilePic.url}}" {{user.profilePic.url }}data-lightbox="image-{{id}}-{{user.id}}" data-title="{{user.firstname}} {{user.lastname}}"{{/if}}>
                    <div class="bo-card-profilePic"
                        {{#if user.profilePic.url}}
                         style="background-image: url({{transform 'c_fill,g_faces,h_70,w_70' user.profilePic.url}});"
                        {{else}}
                         style="background-image: url('../img/placeholder_profile_pic.jpg');"
                        {{/if}}></div>
                </a>
            </div>
            <div class="col-xs-9">
                <div class="bo-card-info-name">
                    <span class="bo-card-info-headline"><a href="/team/{{user.participant.teamId}}" class="no-underline">{{user.participant.teamName}}</a> </span>
                    <a href="/post/{{id}}" class="bo-card-info-sub no-underline">{{user.firstname}} {{relativeTime date}}{{prettyLocation postingLocation.locationData}}</a>
                </div>
            </div>
        </div>
        {{#if isUserAdmin}}
            <div class="bo-admin-delete" data-delete-type="posting" data-id="{{id}}" data-posting-id="{{id}}">
                <i class="material-icons bo-card-actions-icon">delete forever</i>
            </div>
        {{/if}}
    </div>
    <div class="bo-card-media">
        {{#if media}}
            {{#unless media.url}}
                <div class="bo-card-media-processing">
                    {{#isNewerTenMinutes ../date}}
                        <div class="spinner">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <span>{{__ 'MEDIA_LOADING'}}</span>
                    {{/isNewerTenMinutes}}
                    {{#isOlderTenMinutes ../date}}
                        <span>{{__ 'MEDIA_ABORTED'}}</span>
                    {{/isOlderTenMinutes}}
                </div>
            {{/unless}}
        {{/if}}
        {{#if media}}
            {{#ifCond media.type 'IMAGE'}}
                <a href="{{media.url}}" data-lightbox="image-{{id}}" data-title="{{text}}">
                    <img class="bo-card-media-image" src="{{transform 'w_500' media.url}}"/>
                </a>
            {{/ifCond}}
            {{#ifCond media.type 'AUDIO'}}
                <div class="plyr">
                    <audio controls preload="none">
                        <source src="{{media.url}}">

                        <!-- Fallback -->
                        <!-- TODO: This one right here might need some polishing! -->
                        <a href="{{media.url}}">Download</a>
                    </audio>
                </div>
            {{/ifCond}}
            {{#ifCond media.type 'VIDEO'}}
                {{#if media.url}}

                <div class="plyr">
                    <video poster="{{thumbnail media.url}}" controls preload="none">
                        <source src="{{transformVideo 'q_auto:eco' media.url}}">
                    </video>
                </div>
                {{/if}}
            {{/ifCond}}
            {{#if isUserAdmin}}
                <div class="bo-admin-delete" data-delete-type="media" data-id="{{media.0.id}}" data-posting-id="{{id}}">
                    <i class="material-icons bo-card-actions-icon">delete forever</i>
                </div>
            {{/if}}
        {{/if}}
    </div>
    <div class="bo-card-content">
        <p class="bo-text bo-replace-hashtags" data-hashtags="{{json hashtags}}">{{text}}</p>
        {{#if proves}}
            <div class="row bo-card-challenge">
                <div class="col-xs-2">
                    <i class="material-icons bo-card-done">done_all</i>
                </div>
                <div class="col-xs-10">
                    <span>{{proves.amount}} € - {{proves.description}}</span>
                </div>
            </div>
        {{/if}}
    </div>
    <div class="bo-card-actions">
        <a href="#" class="bo-card-actions-like {{#if hasLiked}}active{{/if}}" data-id="{{id}}"><i
                class="material-icons bo-card-actions-icon">favorite</i>{{#if likes}}<span class="bo-like-count">{{likes}}</span> Likes{{else}}{{__ 'I_LIKE'}}{{/if}}</a>
        <a href="#" class="bo-card-actions-comment"><i
                class="material-icons bo-card-actions-icon">comment</i> {{length comments}} {{__ 'COMMENTS'}}</a>
    </div>
    <div class="bo-card-comments">
        {{#each comments}}
            {{> team-comment isUserAdmin=../isUserAdmin posting-id=../id}}
        {{/each}}
        <div class="bo-card-comment-new">
            <form class="newComment">
                <div class="col-xs-9">
                        <textarea name="newCommentText" rows="1" class="form-control bo-card-comment-input"
                                  placeholder="{{__ 'DO_COMMENT'}}"></textarea>
                    <input type="hidden" name="newCommentId" style="display: none;" value="{{id}}"/>
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-block btn-default" type="submit">{{__ 'SEND'}}</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
