<div class="bo-comment-wrap">
    <div class="row">
        <div class="col-xs-2">
            <a {{#if team.profilePic.url}}href="{{user.profilePic.url}}" data-lightbox="image-{{id}}-{{user.id}}"
               data-title="{{user.firstname}} {{user.lastname}}"{{/if}}>
                <div class="bo-card-comment-pic bo-card-profilePic"
                    {{#if user.profilePic.url}}
                     style="background-image: url({{transform 'c_fill,g_faces,h_50,w_50' user.profilePic.url}});"
                    {{else}}
                     style="background-image: url('../img/placeholder_profile_pic.jpg');"
                    {{/if}}></div>
            </a>
        </div>
        <div class="col-xs-10">
            <div class="bo-card-comment-name">
                {{user.firstname}} {{user.lastname}}
            </div>
            <div class="bo-card-comment-time">
                {{relativeTime date}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="bo-card-comment-text">
                {{text}}
            </div>
        </div>
    </div>

    {{#if isUserAdmin}}
        <div class="bo-admin-delete" data-delete-type="comment" data-id="{{id}}" data-posting-id="{{posting-id}}">
            <i class="material-icons bo-card-actions-icon">delete forever</i>
        </div>
    {{/if}}
    {{#ifCond user.id currentUserId}}
       <div class="bo-user-delete" data-delete-type="mycomment" data-id="{{id}}" data-posting-id="{{posting-id}}">
            <i class="material-icons bo-card-actions-icon">delete forever</i>
        </div>
     {{/ifCond}}
</div>


