<div class="bo-header-info">
    <div class="container">
        <div style="background-image: url({{me.profilePic.sizes.0.url}}); height: 100px; width: 100px;"
             class="bo-profile-image pull-left"></div>
        <div class="bo-profile-info">
            <p>{{me.firstname}} {{me.lastname}}</p>
            {{#if me.participant.teamId}}
                <p>Team {{me.participant.teamName}} ({{me.participant.eventCity}})</p>
            {{/if}}
        </div>
    </div>
    <div class="container bo-secondary-nav">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab"
                                                      data-toggle="tab">{{__ 'NAVIGATION_PROFILE'}}</a></li>
            {{#if me.participant}}
                <li role="presentation"><a href="#participant" aria-controls="team" role="tab"
                                           data-toggle="tab">{{__ 'NAVIGATION_PARTICIPANT'}}</a></li>
            {{/if}}
            {{#if me.participant.teamId}}
                <li role="presentation"><a href="#team" aria-controls="team" role="tab"
                                           data-toggle="tab">{{__ 'NAVIGATION_TEAM'}}</a></li>
            {{/if}}
            {{#if me.sponsor}}
                <li role="presentation"><a href="#sponsor" aria-controls="team" role="tab"
                                           data-toggle="tab">{{__ 'NAVIGATION_SPONSOR'}}</a></li>
            {{/if}}
        </ul>
    </div>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="container bo-profile-form bo-single-row">
            <div id="result_profile"></div>
            <form role="form" id="profile_form">

                <div class="bo-reg-uploadInputWrapper"
                     style="height: 100px; width: 100px; background-image:url({{me.profilePic.sizes.0.url}})">
                    <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="profilePic"
                           id="profilePic"/>
                    <i class="material-icons registration-picture-icon">camera_alt</i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label for="firstname">{{__ 'LABEL_FIRSTNAME'}}</label>
                    <input type="text" class="form-control" id="firstname" name="firstname" value="{{me.firstname}}"
                           required="required">
                    <i class="form-control-feedback material-icons">perm_identity</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="lastname">{{__ 'LABEL_NAME'}}</label>
                    <input type="text" class="form-control" id="lastname" name="lastname" value="{{me.lastname}}"
                           required="required">
                    <i class="form-control-feedback material-icons">perm_identity</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="email">{{__ 'LABEL_EMAIL'}}</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{me.email}}"
                           readonly>
                    <i class="form-control-feedback material-icons">mail_outline</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="gender">{{__ 'LABEL_GENDER'}}</label>
                    <select class="form-control" id="gender" name="gender" readonly>
                        <option value="male"
                                {{#ifCond me.gender "male"}}selected="selected"{{/ifCond}}>{{__ 'OPTION_GENDER_1'}}</option>
                        <option value="female"
                                {{#ifCond me.gender "female"}}selected="selected"{{/ifCond}}>{{__ 'OPTION_GENDER_2'}}</option>
                    </select>
                    <i class="form-control-feedback material-icons">wc</i>
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            id="profile_CTA">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="participant">
        <div class="container bo-profile-form bo-single-row">
            <div id="result_participant"></div>
            <form role="form" id="participant_form">
                <div class="form-group has-feedback has-feedback-left">
                    <label for="tshirtsize">{{__ 'LABEL_SHIRT'}}</label>
                    <select class="form-control" id="tshirtsize" name="tshirtsize" readonly>
                        <option value="xs" {{#ifCond me.participant.tshirtsize "xs"}}selected="selected"{{/ifCond}}>XS
                        </option>
                        <option value="s" {{#ifCond me.participant.tshirtsize "s"}}selected="selected"{{/ifCond}}>S
                        </option>
                        <option value="m" {{#ifCond me.participant.tshirtsize "m"}}selected="selected"{{/ifCond}}>M
                        </option>
                        <option value="l" {{#ifCond me.participant.tshirtsize "l"}}selected="selected"{{/ifCond}}>L
                        </option>
                        <option value="xl" {{#ifCond me.participant.tshirtsize "xl"}}selected="selected"{{/ifCond}}>XL
                        </option>
                        <option value="xxl" {{#ifCond me.participant.tshirtsize "xxl"}}selected="selected"{{/ifCond}}>
                            XXL
                        </option>
                    </select>
                    <i class="form-control-feedback material-icons">accessibility</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="hometown">{{__ 'LABEL_CITY'}}</label>
                    <input type="text" class="form-control" id="hometown" name="hometown"
                           value="{{me.participant.hometown}}">
                    <i class="form-control-feedback material-icons">location_city</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="phonenumber">{{__ 'LABEL_PHONE'}}</label>
                    <input type="text" class="form-control" id="phonenumber" name="phonenumber"
                           value="{{me.participant.phonenumber}}" required="required">
                    <i class="form-control-feedback material-icons">phone</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="emergencynumber">{{__ 'LABEL_PHONE_EMERGENCY'}}</label>
                    <input type="text" class="form-control" id="emergencynumber" name="emergencynumber"
                           value="{{me.participant.emergencynumber}}" required="required">
                    <i class="form-control-feedback custom-icons sos"></i>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            id="participant_CTA">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="team">
        <div class="container bo-profile-form bo-single-row">
            <div id="result_team"></div>
            <form role="form" id="team_form">
                <div class="bo-reg-uploadInputWrapper"
                     style="height: 100px; width: 100px; background-image: url({{team.profilePic.sizes.0.url}});">
                    <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="teamPic"
                           id="teamPic"/>
                    <i class="material-icons registration-picture-icon">camera_alt</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamId">{{__ 'LABEL_TEAMID'}}</label>
                    <input type="text" class="form-control" id="teamId" name="teamId"
                           value="{{team.id}}" required="required" readonly>
                    <i class="form-control-feedback material-icons">people</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamName">{{__ 'LABEL_TEAMNAME'}}</label>
                    <input type="text" class="form-control" id="teamName" name="teamName"
                           value="{{team.name}}" required="required">
                    <i class="form-control-feedback material-icons">people</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="location">{{__ 'LABEL_LOCATION'}}</label>
                    <select class="form-control" id="location" readonly>
                        <option value="1" {{#ifCond team.event 1}}selected="selected"{{/ifCond}}>Berlin
                        </option>
                        <option value="2" {{#ifCond team.event 2}}selected="selected"{{/ifCond}}>München
                        </option>
                    </select>
                    <i class="form-control-feedback material-icons">near_me</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamDescription">{{__ 'LABEL_DESCRIPTION'}}</label>
                    <textarea id="teamDescription" rows="10" name="teamDescription"
                              class="form-control">{{team.description}}</textarea>
                    <i class="form-control-feedback material-icons">comment</i>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            id="team_CTA">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="sponsor">
        <div class="container bo-profile-form bo-single-row">
            <div id="result_sponsor"></div>
            <form role="form" id="sponsor_form">


                <div class="form-group has-feedback has-feedback-left">
                    <label for="sponsorCompany">{{__ 'LABEL_SPONSORCOMPANY'}}</label>
                    <input type="text" class="form-control" id="sponsorCompany" name="company"
                           value="{{me.sponsor.company}}">
                    <i class="form-control-feedback material-icons">business</i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label for="sponsorUrl">{{__ 'LABEL_SPONSORURL'}}</label>
                    <input type="text" class="form-control" id="sponsorUrl" name="url"
                           value="{{me.sponsor.url}}">
                    <i class="form-control-feedback material-icons">public</i>
                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="sponsorStreet">{{__ 'LABEL_SPONSORSTREET'}}</label>
                            <input type="text" class="form-control" id="sponsorStreet" name="street"
                                   value="{{me.sponsor.address.street}}" required="required">
                            <i class="form-control-feedback material-icons">person_pin_circle</i>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group has-feedback has-feedback-left">
                            <label for="sponsorHousenumber">{{__ 'LABEL_SPONSORHOUSENUMBER'}}</label>
                            <input type="text" class="form-control" id="sponsorHousenumber" name="housenumber"
                                   value="{{me.sponsor.address.housenumber}}" required="required">
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label for="sponsorCity">{{__ 'LABEL_SPONSORCITY'}}</label>
                    <input type="text" class="form-control" id="sponsorCity" name="city"
                           value="{{me.sponsor.address.city}}" required="required">
                    <i class="form-control-feedback material-icons">person_pin_circle</i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label for="sponsorZipcode">{{__ 'LABEL_SPONSORZIPCODE'}}</label>
                    <input type="text" class="form-control" id="sponsorZipcode" name="zipcode"
                           value="{{me.sponsor.address.zipcode}}" required="required">
                    <i class="form-control-feedback material-icons">person_pin_circle</i>
                </div>

                <div class="form-group has-feedback has-feedback-left">
                    <label for="sponsorCountry">{{__ 'LABEL_SPONSORCOUNTRY'}}</label>
                    <input type="text" class="form-control" id="sponsorCountry" name="country"
                           value="{{me.sponsor.address.country}}" required="required">
                    <i class="form-control-feedback material-icons">person_pin_circle</i>
                </div>


                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase"
                            id="sponsor_CTA">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/profile.js" type="text/javascript" defer></script>