<div class="bo-header-info">
    <div class="container">
        <img src="http://lorempixel.com/100/100/people/1/" class="bo-profile-image pull-left" />
        <div class="bo-profile-info">
            <p>Thomas Brand</p>
            <p>Team Awesome Gin Tonic</p>
        </div>
    </div>

    <div class="container bo-secondary-nav bo-single-row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">{{__ 'NAVIGATION_PROFILE'}}</a></li>
            <li role="presentation"><a href="#team" aria-controls="team" role="tab" data-toggle="tab">{{__ 'NAVIGATION_TEAM'}}</a></li>
        </ul>
    </div>

</div>

<!-- Tab panes -->
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
        <div class="container bo-profile-form bo-single-row">
            <form role="form">
                <div class="form-group has-feedback has-feedback-left">
                    <label for="firstname">{{__ 'LABEL_FIRSTNAME'}}</label>
                    <input type="text" class="form-control" id="firstname">
                    <i class="form-control-feedback material-icons">perm_identity</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="surename">{{__ 'LABEL_NAME'}}</label>
                    <input type="text" class="form-control" id="surename">
                    <i class="form-control-feedback material-icons">perm_identity</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="email">{{__ 'LABEL_EMAIL'}}</label>
                    <input type="email" class="form-control" id="email">
                    <i class="form-control-feedback material-icons">mail_outline</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="gender">{{__ 'LABEL_GENDER'}}</label>
                    <select class="form-control" id="gender">
                        <option>{{__ 'OPTION_GENDER_1'}}</option>
                        <option>{{__ 'OPTION_GENDER_2'}}</option>
                    </select>
                    <i class="form-control-feedback material-icons">wc</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="shirtsize">{{__ 'LABEL_SHIRT'}}</label>
                    <select class="form-control" id="shirtsize">
                        <option>{{__ 'OPTION_SHIRT_1'}}</option>
                        <option>{{__ 'OPTION_SHIRT_2'}}</option>
                        <option>{{__ 'OPTION_SHIRT_3'}}</option>
                        <option>{{__ 'OPTION_SHIRT_4'}}</option>
                    </select>
                    <i class="form-control-feedback material-icons">accessibility</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="city">{{__ 'LABEL_CITY'}}</label>
                    <input type="text" class="form-control" id="city">
                    <i class="form-control-feedback material-icons">location_city</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="phone">{{__ 'LABEL_PHONE'}}</label>
                    <input type="text" class="form-control" id="phone">
                    <i class="form-control-feedback material-icons">phone</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="phone_emergency">{{__ 'LABEL_PHONE_EMERGENCY'}}</label>
                    <input type="text" class="form-control" id="phone_emergency">
                    <i class="form-control-feedback custom-icons sos"></i>
                </div>
                <div class="form-group has-feedback has-feedback-left form-information">
                    <p class="form-control-static">{{__ 'PAYMENT_INFO'}}</p>
                    <i class="form-control-feedback material-icons">info</i>
                </div>

                <div class="form-buttons">
                    <button type="button" class="btn btn-primary btn-block text-uppercase">{{__ 'BUTTON_PAY'}}</button>
                    <button type="button" class="btn btn-default btn-block text-uppercase">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="team">
        <div class="container bo-profile-form bo-single-row">
            <form role="form">
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamname">{{__ 'LABEL_TEAMNAME'}}</label>
                    <input type="text" class="form-control" id="teamname">
                    <i class="form-control-feedback material-icons">people</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="location">{{__ 'LABEL_LOCATION'}}</label>
                    <select class="form-control" id="location">
                        <option>Berlin</option>
                        <option>München</option>
                    </select>
                    <i class="form-control-feedback material-icons">near_me</i>
                </div>
                <div class="form-group has-feedback has-feedback-left">
                    <label for="teamdesc">{{__ 'LABEL_DESCRIPTION'}}</label>
                    <textarea id="teamdesc" rows="10" class="form-control"></textarea>
                    <i class="form-control-feedback material-icons">comment</i>
                </div>

                <div class="form-buttons">
                    <button type="button" class="btn btn-primary btn-block text-uppercase">{{__ 'BUTTON_SAVE'}}</button>
                </div>
            </form>
        </div>
    </div>
</div>