<div class="bo-header-info bo-team-header">

</div>
<script>
    window.teamId = {{{team.id}}};
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
        <a {{#if team.profilePic.url}}href="{{transform 'c_fill,g_faces,h_400,w_400' team.profilePic.url}}" data-lightbox="image-{{id}}-{{user.id}}"
               data-title="{{name}}"{{/if}}>
                <div class="bo-team-picture" style="
                    {{#if team.profilePic.url}}
                    background-image:url({{transform 'c_fill,g_faces,h_250,w_250' team.profilePic.url}})
                    {{else}}
                    background-image:url('../img/placeholder_profile_pic.jpg')
                    {{/if}}"></div>
            </a>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="bo-team-header-margin">
                <h2 style="font-weight: 400;">Team {{team.name}} ({{team.event.city}} {{team.event.year}})</h2>
                <h4>
                    {{#each team.members}}
                        {{firstname}} {{#if @first}}&{{/if}}
                    {{/each}}
                  | <span class="bo-points">{{round team.score}} {{__ 'POINTS'}}</span> | {{round team.max.distance}} km | {{team.max.donations}} €
                </h4>
            </div>
        </div>
    </div>
    <div class="bo-team-seperator"></div>
    <div class="row">
        <!-- main panel -->
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bo-team-map">
                        <div id="map" style="width:100%; min-height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="row" id="teamPosts">
                {{#if isUserOfTeam}}
                    {{#if teamFee}}
                        <div class="col-lg-6 col-sm-12 bo-team-post">
                            <div class=" bo-team-card">
                                <div class="bo-card-content">
                                    <span class="bo-card-info-headline" style="text-align: center">🎉🎉🎉</span>
                                    <span class="bo-card-info-headline" style="text-align: center">{{__ 'TEAM_FEE_HEADING'}}</span>
                                    <br>
                                    <p>{{__ 'TEAM_FEE_DESCRIPTION'}}</p>
                                    <br>
                                    <p>{{__ 'TEAM_FEE_TRANSFER_INFO_HEADING'}}</p>
                                    <p>
                                        <b>{{__ 'OWNER'}}:</b> BreakOut e.V.
                                    </p>
                                    <p>
                                        <b>IBAN:</b> DE85 7002 2200 0020 2418 37
                                    </p>
                                    <p>
                                        <b>BIC:</b> FDDODEMMXXX
                                    </p>
                                    <p>
                                        <b>{{__ 'PURPOSE'}}</b> {{teamFee.purposeOfTransfer}}
                                    </p>
                                    <p>
                                        <b>{{__ 'AMOUNT'}}: </b> 60.00€
                                    </p>
                                </div>
                            </div>
                        </div>
                    {{/if}}
                    <div class="col-lg-6 col-sm-12 bo-team-post">
                        <form id="newPost">
                            <div class=" bo-team-card">

                                <div class="bo-card-info">
                                    <div class="col-xs-3">
                                        <div class="bo-card-profilePic"
                                             style="background-image: url(
                                                 {{#if user.profilePic.url}}
                                                     {{user.profilePic.url}}
                                                 {{else}}
                                                 '../img/placeholder_profile_pic.jpg'
                                                 {{/if}});"></div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="bo-card-info-name">
                                            <span class="bo-card-info-headline">{{user.participant.teamName}}</span>
                                            <span class="bo-card-info-sub">{{__ 'NOW'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bo-card-media-upload">
                                    <div class="bo-team-upload-wrapper">
                                        <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="postPic"
                                               id="postPic"/>
                                        <input type="hidden" name="mediaType" id="bo-team-media-type" value=""/>
                                        <i class="material-icons bo-team-post-icon">camera_alt</i><br/>
                                        <span class="bo-team-post-upload-text"></span>
                                    </div>
                                    <div class="bo-team-upload-progress-wrap bo-team-upload-progress" data-progress-percent="25">
                                        <div class="bo-team-upload-progress-bar bo-team-upload-progress"></div>
                                    </div>
                                </div>
                                <div class="alert alert-info bo-team-upload-server-processing">
                                    {{__ 'SERVER_PROCESSING_REQUEST'}}
                                </div>
                                <div class="bo-card-content">
                                    <div class="form-group">
                                        <textarea class="form-control" name="postText"
                                                  placeholder="{{__ 'NEWPOSTCONTENT'}}" required="required"></textarea>
                                        {{#if team.openChallenges}}
                                            <p class="bo-team-select-challenge">{{__ 'WANT_TO_FULFILL_CHALLENGE'}}</p>
                                            <select class="form-control" name="challenge">
                                                <option disabled="disabled" selected="selected">{{__ 'SELECT_A_CHALLENGE'}}
                                                </option>
                                                {{#each team.openChallenges}}
                                                    <option value="{{id}}">{{description}}</option>
                                                {{/each}}
                                            </select>
                                        {{/if}}

                                        <p id="bo-team-location">{{__ 'NO_POSITION'}}</p>
                                        <input type="hidden" name="latitude" id="bo-team-latitude" value=""/>
                                        <input type="hidden" name="longitude" id="bo-team-longitude" value=""/>
                                        <div id="bo-post-result"></div>
                                    </div>
                                </div>
                                <div class="bo-card-actions">
                                    <button type="submit" id="bo-post-cta"
                                            class="btn btn-block btn-primary">{{__ 'SAVEPOST'}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {{/if}}

                {{#each team.postings}}
                    <div class="col-sm-12 col-lg-6 bo-team-post">
                        {{> team-posting isUserAdmin=../isUserAdmin currentUserId=../user.id}}
                    </div>
                {{/each}}
            </div>
        </div>
        <!-- / main panel -->
        <!-- side panel -->
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <h3 style="margin-bottom: 10px">{{__ 'ABOUT_US'}}</h3>
            <p class="bo-text">
                {{team.description}}
            </p>

            <br>
            <h3>Challenges</h3>
            <a href="/settings/sponsoring?id={{team.id}}&mode=1">
                <button class="btn btn-primary">
                {{__ 'PROPOSE_CHALLENGE_NOW'}}
                </button>
            </a>
            <br />
            <br />
            <div id="react-challenge-list-root">
                <!-- react will render in here -->
            </div>

            <h3 class="bo-team-sub-headline">{{__ 'SPONSORS'}}</h3>
            <ul>
                {{#each team.sponsors}}
                    <li class="bo-sponsor-list-item">
                        {{#if company}}
                            {{#if url}}
                                <a href="{{url}}">{{company}}</a>
                            {{else}}
                                {{company}}
                            {{/if}}
                            <br />{{#if logoUrl}}<img src="{{logoUrl}}" />{{/if}}
                        {{else}}
                            {{firstname}} {{lastname}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
            {{#unless team.sponsors}}
                <i class="bo-text">{{__ 'NO_SPONSORS_YET'}}<br/></i>
            {{/unless}}
            <a href="/settings/sponsoring?id={{team.id}}&mode=2">{{__ 'SUPPORT_NOW'}}</a>
        </div>
        <!-- / side panel -->
    </div>
</div>
<script>
    window.mapData = {{{json team.mapData}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB01KdSvxThTLM7fjeXA1zOQ8rURAWbqMk"></script>
<script type="text/javascript" src="/js/team.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
