<div>
    <h1 class="bo-input" data-bo-name="headline" data-bo-type="text">{{headline}}</h1>
    <p class="bo-input" data-bo-name="text" data-bo-type="text">{{text}}</p>
    <p class="bo-input" data-bo-name="text2" data-bo-type="text">{{text2}}</p>
    <img data-bo-name="text2" data-bo-type="text" src="{{img0}}">

    <div class="bo-img" data-bo-type="array">
        {{#each img}}
            <img data-bo-name="text2" data-bo-type="text" src="{{url}}">
        {{/each}}
    </div>

    {{#if testargument}}
        <div class="bo-img" data-bo-type="text">{{asdf}}</div>
    {{/if}}
</div>