<div>
    <h1 class="bo-input" data-bo-name="headline" data-bo-type="text">{{headline}}</h1>
    <p class="bo-input" data-bo-name="text" data-bo-type="text">{{text}}</p>
    <p class="bo-input" data-bo-name="text2" data-bo-type="text">{{text2}}</p>

    <ul class="bo-input" data-bo-type="list" data-bo-length="3">
        <li class="bo-input" data-bo-list-index="0" data-bo-name="img"><img src="{{img0}}"></li>
        <li class="bo-input" data-bo-list-index="1" data-bo-name="img"><img src="{{img1}}"></li>
        <li class="bo-input" data-bo-list-index="2" data-bo-name="img"><img src="{{img2}}"></li>
    </ul>
</div>