<!--template for team page (information/profile of a team with posts)
 js file is in controller/page-controller/team-page.js
 used less file is _team-page-profile.less -->

<div class="bo-header-info bo-team-header">
    <div class="col-sm-offset-3">
        <h3>Team {{team.name}} ({{team.event.city}})</h3>
        <h4>
            {{#each team.members}}
                {{firstname}} {{#if @first}}&{{/if}}
            {{/each}}
            |
            {{team.name1}} & {{team.name2}} | {{team.km}}km | {{team.money}}€ </h4>
    </div>
</div>
<div class="container">
    <div class="bo-team-container">

        <div class="bo-team-content-side">
            <div class="bo-member-photo-wrap bo-team-picture">
                <img src="{{me.profilePic.sizes.0.url}}" class="bo-member-photo pull-left"/>
            </div>

            <div>
                <h3>About</h3>
                <p>{{team.description}}</p>
                <h3>Challenges</h3>
                <div>{{#each team.challenges}}
                    <p>{{this.name}}</p>
                {{/each}}
                </div>
                <h3>Sponsoren</h3>
                <div>
                    {{#each team.sponsors}}
                        <div><img src="{{this.picture}}" class="bo-member-photo pull-left"/>
                            <p>{{this.name}}</p></div>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="bo-team-content-main">
            <!-- TODO: Karte einfügen für Team-->


            <div class="bo-team-post">
                <div class="allposts">
                    {{#each posts}}
                        {{> post-teampage this }}
                    {{/each}}
                </div>


            </div>
        </div>
    </div>


</div>
