<!--template for team page (information/profile of a team with posts)
 js file is in controller/page-controller/team-page.js
 used less file is _team-page-profile.less -->

<div class="bo-header-info bo-team-header">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="bo-team-picture" style="background-image:url('/img/social.jpg')"></div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="bo-team-header-margin">
                <h2>Team {{team.name}} ({{team.event.city}})</h2>
                <h4>
                    {{#each team.members}}
                        {{firstname}} {{#if @first}}&{{/if}}
                    {{/each}}
                    |
                    {{team.km}}km | {{team.money}}€
                </h4>
            </div>
        </div>
    </div>
    <div class="bo-team-seperator"></div>
    <div class="row">
        <!-- main panel -->
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bo-team-map">
                        <div class="bo-team-placeholder" id="map" style="width:100%; min-height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                {{#each team.postings}}
                    {{> team-posting}}
                {{/each}}
            </div>
        </div>
        <!-- / main panel -->
        <!-- side panel -->
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <h3>Über uns</h3>
            <p>
                {{team.description}}
            </p>
            <h3>Challenges</h3>
            <ul>
                {{#each team.challenge}}
                    <li>({{amount}}€){{description}}</li>
                {{/each}}

            </ul>
            {{#unless team.challenges}}
                <i>Dieses Team hat bisher keine Challenges. <br/><a href="/">Jetzt welche stellen!</a></i>
            {{/unless}}
            <h3>Sponsoren</h3>
            <ul>
                {{#each team.sponsors}}
                    {{#if sponsor.company}}
                        <li>{{company}}</li>
                    {{else}}
                        <li>{{firstname}} {{lastname}}</li>
                    {{/if}}
                {{/each}}
            </ul>
            {{#unless team.sponsors}}
                <i>Dieses Team hat bisher keine Sponsoren. <br/><a href="/">Jetzt unterstützen!</a></i>
            {{/unless}}
        </div>
        <!-- / side panel -->
    </div>
</div>
<script>
    window.mapData = {{{json team}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE"></script>
<script type="text/javascript" src="/js/map.js"></script>
