<div class="bo-header-info bo-team-header">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <a href="{{getImageByWidth 800 team.profilePic.sizes}}" data-lightbox="image-{{id}}-{{user.id}}"
               data-title="{{name}}">
                <div class="bo-team-picture" style="
                    {{#if team.profilePic.sizes}}
                    background-image:url({{getImageByWidth 200 team.profilePic.sizes}})
                    {{else}}
                    background-image:url('../img/placeholder_profile_pic.jpg')
                    {{/if}}"></div>
            </a>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="bo-team-header-margin">
                <h2 style="font-weight: 400;">Team {{team.name}} ({{team.event.city}} {{team.event.year}})</h2>
                <h4>
                    {{#each team.members}}
                        {{firstname}} {{#if @first}}&{{/if}}
                    {{/each}}
                    | {{round team.max.distance}} km | {{team.max.donations}} €
                </h4>
            </div>
        </div>
    </div>
    <div class="bo-team-seperator"></div>
    <div class="row">
        <!-- main panel -->
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bo-team-map">
                        <div id="map" style="width:100%; min-height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="row" id="teamPosts">
                {{#if isUserOfTeam}}
                    <div class="col-lg-6 col-sm-12 bo-team-post">
                        <form id="newPost">
                            <div class=" bo-team-card">

                                <div class="bo-card-info">
                                    <div class="col-xs-3">
                                        <div class="bo-card-profilePic"
                                             style="background-image: url(
                                                 {{#if user.profilePic.sizes.0.url}}
                                                     {{user.profilePic.sizes.0.url}}
                                                 {{else}}
                                                 '../img/placeholder_profile_pic.jpg'
                                                 {{/if}});"></div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="bo-card-info-name">
                                            <span class="bo-card-info-headline">{{user.participant.teamName}}</span>
                                            <span class="bo-card-info-sub">{{__ 'NOW'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="bo-card-media-upload">
                                    <div class="bo-team-upload-wrapper">
                                        <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="postPic"
                                               id="postPic"/>
                                        <input type="hidden" name="mediaType" id="bo-team-media-type" value=""/>
                                        <i class="material-icons bo-team-post-icon">camera_alt</i><br/>
                                        <span class="bo-team-post-upload-text"></span>
                                    </div>
                                </div>
                                <div class="bo-card-content">
                                    <div class="form-group">
                                        <textarea class="form-control" name="postText"
                                                  placeholder="{{__ 'NEWPOSTCONTENT'}}" required="required"></textarea>
                                        {{#if team.openChallenges}}
                                            <p class="bo-team-select-challenge">{{__ 'WANT_TO_FULFILL_CHALLENGE'}}</p>
                                            <select class="form-control" name="challenge">
                                                <option disabled="disabled" selected="selected">{{__ 'SELECT_A_CHALLENGE'}}
                                                </option>
                                                {{#each team.openChallenges}}
                                                    <option value="{{id}}">{{description}}</option>
                                                {{/each}}
                                            </select>
                                        {{/if}}

                                        <p id="bo-team-location">{{__ 'NO_POSITION'}}</p>
                                        <input type="hidden" name="latitude" id="bo-team-latitude" value=""/>
                                        <input type="hidden" name="longitude" id="bo-team-longitude" value=""/>
                                        <div id="bo-post-result"></div>
                                    </div>
                                </div>
                                <div class="bo-card-actions">
                                    <button type="submit" id="bo-post-cta"
                                            class="btn btn-block btn-primary">{{__ 'SAVEPOST'}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {{/if}}

                {{#each team.postings}}
                    <div class="col-sm-12 col-lg-6 bo-team-post">
                        {{> team-posting isUserAdmin=../isUserAdmin}}
                    </div>
                {{/each}}
            </div>
        </div>
        <!-- / main panel -->
        <!-- side panel -->
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <h3 style="margin-bottom: 10px">{{__ 'ABOUT_US'}}</h3>
            <p class="bo-text">
                {{team.description}}
            </p>
            <h3 class="bo-team-sub-headline">{{__ 'CHALLENGES'}}</h3>
            <ul>
                {{#each team.challenges}}
                    <li class="bo-sponsor-list-item {{#if (challengeHasProof status)}}bo-challenge-with-proof{{/if}}">({{amount}}
                        €) {{description}}</li>
                {{/each}}

            </ul>
            {{#unless team.challenges}}
                <i class="bo-text">{{__ 'NO_CHALLENGES_YET'}}<br/></i>
            {{/unless}}
            <a href="/settings/sponsoring">{{__ 'PROPOSE_CHALLENGE_NOW'}}</a>
            <h3 class="bo-team-sub-headline">{{__ 'SPONSORS'}}</h3>
            <ul>
                {{#each team.sponsors}}
                    {{#if company}}
                        <li class="bo-sponsor-list-item">{{company}}</li>
                    {{else}}
                        <li class="bo-sponsor-list-item">{{firstname}} {{lastname}}</li>
                    {{/if}}
                {{/each}}
            </ul>
            {{#unless team.sponsors}}
                <i class="bo-text">{{__ 'NO_SPONSORS_YET'}}<br/></i>
            {{/unless}}
            <a href="/settings/sponsoring">{{__ 'SUPPORT_NOW'}}</a>
        </div>
        <!-- / side panel -->
    </div>
</div>
<script>
    window.mapData = {{{json team.mapData}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE"></script>
<script type="text/javascript" src="/js/team.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
