<div class="bo-header-info bo-team-header">

</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="bo-team-picture" style="
                {{#if team.profilePic.sizes.0.url}}
                background-image:url({{team.profilePic.sizes.0.url}})
                {{else}}
                background-color:#ccc;
                {{/if}}
                    "></div>
        </div>
        <div class="col-sm-8 col-md-9">
            <div class="bo-team-header-margin">
                <h2 style="font-weight: 400;">Team {{team.name}} ({{team.event.city}})</h2>
                <h4>
                    {{#each team.members}}
                        {{firstname}} {{#if @first}}&{{/if}}
                    {{/each}}
                     | {{round team.max.distance.linear_distance}} km | {{team.max.donations.full_sum}} €
                </h4>
            </div>
        </div>
    </div>
    <div class="bo-team-seperator"></div>
    <div class="row">
        <!-- main panel -->
        <div class="col-sm-8 col-md-9 col-sm-push-4 col-md-push-3">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bo-team-map">
                        <div id="map" style="width:100%; min-height: 300px;"></div>
                    </div>
                </div>
            </div>

            <div class="row" id="teamPosts">
                {{#if isUserOfTeam}}
                    <div class="col-lg-6 col-sm-12 bo-team-post">
                        <form id="newPost">
                            <div class=" bo-team-card">

                                <div class="bo-card-info">
                                    <div class="bo-card-profilePic"
                                         style="background-image: url({{user.profilePic.sizes.0.url}});"></div>
                                    <div class="bo-card-info-name">
                                        <span class="bo-card-info-headline">{{user.participant.teamName}}</span>
                                        <span class="bo-card-info-sub">Jetzt?</span>
                                    </div>
                                </div>
                                <div class="bo-card-media-upload">
                                    <div class="bo-team-upload-wrapper">
                                        <input class="bo-reg-fileInput bo-reg-hiddenInput" type="file" name="postPic"
                                               id="postPic"/>
                                        <input type="hidden" name="mediaType" id="bo-team-media-type" value=""/>
                                        <i class="material-icons bo-team-post-icon">camera_alt</i><br/>
                                        <span class="bo-team-post-upload-text"></span>
                                    </div>
                                </div>
                                <div class="bo-card-content">
                                    <div class="form-group">
                                    <textarea class="form-control" name="postText"
                                              placeholder="{{__ 'NEWPOSTCONTENT'}}" required="required"></textarea>
                                        <p id="bo-team-location">Keine Position</p>
                                        <input type="hidden" name="latitude" id="bo-team-latitude" value=""/>
                                        <input type="hidden" name="longitude" id="bo-team-longitude" value=""/>
                                        <div id="bo-post-result"></div>
                                    </div>
                                </div>
                                <div class="bo-card-actions">
                                    <button type="submit" id="bo-post-cta"
                                            class="btn btn-block btn-primary">{{__ 'SAVEPOST'}}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                {{/if}}

                {{#each team.postings}}
                    <div class="col-lg-6 col-sm-12 bo-team-post">
                        {{> team-posting}}
                    </div>
                {{/each}}
            </div>
        </div>
        <!-- / main panel -->
        <!-- side panel -->
        <div class="col-sm-4 col-md-3 col-sm-pull-8 col-md-pull-9">
            <h3 style="margin-bottom: 10px">Über uns</h3>
            <p class="bo-text">
                {{team.description}}
            </p>
            <h3 class="bo-team-sub-headline">Challenges</h3>
            <ul>
                {{#each team.challenges}}
                    <li>({{amount}}€) {{description}}</li>
                {{/each}}

            </ul>
            {{#unless team.challenges}}
                <i class="bo-text">Dieses Team hat bisher keine Challenges. <br/></i>
            {{/unless}}
            <a href="/settings/sponsoring">Jetzt Challenges stellen!</a>
            <h3 class="bo-team-sub-headline">Sponsoren</h3>
            <ul>
                {{#each team.sponsors}}
                    {{#if company}}
                        <li>{{company}}</li>
                    {{else}}
                        <li>{{firstname}} {{lastname}}</li>
                    {{/if}}
                {{/each}}
            </ul>
            {{#unless team.sponsors}}
                <i class="bo-text">Dieses Team hat bisher keine Sponsoren. <br/></i>
            {{/unless}}
            <a href="/settings/sponsoring">Jetzt unterstützen!</a>
        </div>
        <!-- / side panel -->
    </div>
</div>
<script>
    window.mapData = {{{json team.mapData}}};
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAq5jqy6DxgQBkk4KoTPgqEk2Pcwc0WfwE"></script>
<script type="text/javascript" src="/js/team.js"></script>
<script type="text/javascript" src="/js/map.js"></script>
