<div class="bo-header-info bo-team-header">

</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{__ 'HEADLINE'}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'SECTION1_H'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION1_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 div-align-mid">
            <a href="/sponsor" role="button"
               class="btn btn-primary btn-block text-uppercase bo-main-cta">{{__ 'BTN_TEXT'}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'SECTION2_H'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION2_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'SECTION3_H'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION3_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'SECTION4_H'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION4_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 div-align-mid">
            <p class="bo-text">
            <table class="table table-borderless bo-main-table">
                <tbody>
                <tr>
                    <td>IBAN:</td>
                    <td>DE78 3705 0198 0020 0088 50</td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>COLSDE33</td>
                </tr>
                <tr>
                    <td>{{__ 'PURPOSE_TITLE'}}</td>
                    <td><i>{{__ 'PURPOSE'}}</i></td>
                </tr>
                </tbody>
            </table>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>{{__ 'SECTION5_H'}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION5_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="bo-text">
                {{{__ 'SECTION6_TEXT'}}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 div-align-mid">
            <a href="/sponsor" role="button"
               class="btn btn-primary btn-block text-uppercase bo-main-cta">{{__ 'BTN_TEXT'}}</a>
        </div>
    </div>
</div>